[2020-05-13 17:40] xperiazn opened #2 "unable tu pull"
git clone -b v0.5.0 --depth 1 git@github.com:oracle/oci-designer-toolkit.git

[2020-05-13 17:40] xperiazn commented on #2
tkralj@LAPTOP-G2NEECGB:~$ git clone -b v0.5.0 --depth 1 git@github.com:oracle/oci-designer-toolkit.git
Cloning into 'oci-designer-toolkit'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights

[2020-05-13 18:25] AnykeyNL opened #3 "Shapes are wrongly reports"
A VMstandard shape show "undefined OCPU"
A E2.1 shape shows 4 OCPU -> this should be 1 OCPU or 2 vCPU
A VMstandard 1.1 shows 8 OPCU, should be 1
B1.1 show 2 should be 1
B1.6 shows 4 should be 16

etc...

[2020-05-13 19:18] mattiarossi commented on #2
or, you can use the http link to the repo that does not require authentication for pulls:
[code]

I think the README should mention that

[2020-05-13 20:34] andytael opened #4 "Pulling the repo can be done via HTTPS too"
Cloning the repo can be done via HTTPS too. I have issues using ssh and github so I used the following:

`git clone -b v0.5.0 --depth 1 https://github.com/oracle/oci-designer-toolkit.git`

[2020-05-13 20:39] andytael opened #5 "Console log tells me that the OKIT is looking for a .pem file"
The console from where I executed `./start-okit-server.sh` loks like this:
[code]
Not sure why it is looking for the file `/Users/atael/.ssh/oci_api_key.pem`

The file exists:
[code]

[2020-05-13 20:57] dumians opened #6 "images on oci-designer-toolkit/documentation/Usage.md not available"

[2020-05-13 23:53] Rinjhin opened #7 "Unable to Connect to Localhost"
$ ./start-okit-server.sh
OCI_CONFIG_DIR has not been set using /c/Users/RBANERJE/.oci
OKIT_OUTPUT_DIR has not been set using /c/Users/RBANERJE/oci-designer-toolkit/output

==========================================================================
=====  Runtime : gunicorn                                            =====
=====  Version : 0.5.0                                               =====
===

[2020-05-14 01:16] ywvliu commented on #4
thanks. got the same issues and resolve by using https.

[2020-05-14 08:22] toxophilist commented on #6
Thanks links fixed

[2020-05-14 08:22] #6 closed

[2020-05-14 08:27] toxophilist commented on #4
Updated Installation document to show both clone alternatives.

[2020-05-14 08:27] #4 closed

[2020-05-14 08:28] toxophilist commented on #2
Updated the Installation guide to include both clone commands.

[2020-05-14 08:28] #2 closed

[2020-05-14 08:41] toxophilist commented on #5
I suspect this is because of the key_file entry in your oci config file. This entry should not contain absolute path but rather look like:

[code]
The reason for this is that during the start process we map the ~/.oci config directory on your machine to the docker/vagrant users ~/.oci and hence within the docker container it will not find /Users/atael/.ssh directory.

[2020-05-14 09:19] fatih-keles opened #8 "Usage.md needs improvement"
For command line there is no start-bash-shell.sh in distributed code

[2020-05-14 10:32] toxophilist commented on #8
Erroneous code removed

[2020-05-14 10:32] #8 closed

[2020-05-14 10:35] toxophilist commented on #7
What OS are you running this on I've not seen the TTY issue before.

[2020-05-14 12:16] fatih-keles opened #9 "Resource Manager fails"
Resource manager menu option fails with the following log.

[2020-05-14 12:22] fatih-keles commented on #9
[log.txt](https://github.com/oracle/oci-designer-toolkit/files/4628236/log.txt)

[2020-05-14 12:23] fatih-keles commented on #9
[okit.json.txt](https://github.com/oracle/oci-designer-toolkit/files/4628250/okit.json.txt)

[2020-05-14 12:24] fatih-keles commented on #9
![image](https://user-images.githubusercontent.com/34371716/81934047-f699f600-95f6-11ea-86df-96cebcda2ee5.png)

[2020-05-14 15:11] toxophilist commented on #9
If you change the name of the top level compartment to one that exists in your account the export will work. At the moment you still have the okit-comp001 default at the top level which is not a valid compartment name for your account.

[2020-05-14 15:18] toxophilist commented on #9
Hi Sorry just spotted the exact issue which is that RM upload via the python api only allows 100 variable for a stack and the generated terraform.tfvars contains more than 100. This is an oddity associated with RM.

[2020-05-14 15:53] Rinjhin commented on #7
I am running this on a gitbash shell on a Windows machine.

[2020-05-14 17:13] Rinjhin commented on #7
When I built the image, I got this message:
Successfully tagged okit/0.5.0/webserver:latest
SECURITY WARNING: You are building a Docker image from Windows against a non-Windows Docker host. All files
 and directories added to build context will have '-rwxr-xr-x' permissions. It is recommended to double
check and reset permissions for sensitive files and directories.
REPOSITORY             TAG

[2020-05-15 08:35] soeremk opened #10 "Vagrant install fails (flask.service error)"
I am trying to install OCI-desiger-toolkit usign vagrant on a Windows 10 laptop with Virtual box.
the machine creates and all looks fine until the "flask service" starts:
okit-vagrant: ‘/tmp/flask.service’ -> ‘/etc/systemd/system/flask.service’
    okit-vagrant: Created symlink from /etc/systemd/system/multi-user.target.wants/flask.service to /etc/systemd/system/flask.service.
    okit-vagrant: Jo

[2020-05-15 10:06] fbreckle opened #11 "Error with absolute paths in oci config"
When using a full path in the `.oci/config` file, e.g. `key_file=/home/user/.oci/private.pem`, the container throws a `FileNotFoundError: [Errno 2] No such file or directory: '/home/user/.oci/private.pem'`.

This happens because the OCI_CONFIG_DIR is mounted to `/root/.oci` and the full path no longer works in that context, whereas `~/.oci/private.pem` would still work.

Using a full path works fi

[2020-05-15 10:58] fbreckle commented on #11
I see that is is somehwat a duplicate of #5
A very simple solution would be to just throw a warning if there is no `~` in the `key_file` value.

[2020-05-15 11:45] eugsim1 opened #12 "correct the export to this => export OCI_CONFIG_DIR=~/.oci"
Hi there is a typo in the instruction the export shoud be export OCI_CONFIG_DIR=~/.oci otherwise docker fails

[2020-05-15 12:29] soeremk commented on #10
I seem to have fixed it.
In file flasl.service I changed parameter "Type=notify" to "Type=simple" then it starts. But I can not reach local host from my computer, so it might not work in the right way

[2020-05-15 14:20] toxophilist commented on #10
@soeremk It can sometime take a short while for the Vagrant server to start responding

[2020-05-15 14:23] toxophilist commented on #12
Updated Documentation

[2020-05-15 14:23] #12 closed

[2020-05-15 14:26] toxophilist commented on #11
Duplicate of Issue #5 documentation updated to add more specific information that the key_file entry must not be an absolute path on the host machine.

[2020-05-15 14:26] #11 closed

[2020-05-15 14:28] toxophilist commented on #5
Updated documentation to make it more explicit that the key_file must not be an absolute path on the host.

[2020-05-15 14:28] #5 closed

[2020-05-15 16:30] toxophilist commented on #3
I can't seem to reproduce this the information was downloaded from OCI and stored in a static json so it seems odd.

[2020-05-15 16:31] toxophilist commented on #10
I'll modify the Type for future releases.

[2020-05-15 16:34] toxophilist commented on #7
I'm currently looking at changing the instruction for building the docker image so it does not rely on the shell scripts. It will include an entrypoint to automatically start the server.

[2020-05-15 21:24] Rinjhin commented on #7
Is there any way to fix my install and bring up the local host?

[2020-05-16 08:48] toxophilist commented on #7
Until I push the changes I’m working on you could try the Vagrant installation. It may appear to error the first run but it’s just the web server being slow to start.

[2020-05-17 20:10] daniel-pro commented on #10
I had the same issue as above.
I noticed in the /var/log/messages of the VM some memory errors when the startup of the flask service was invoked:
python3: page allocation failure: order:4, mode:0x14040c0(GFP_KERNEL|__GFP_COMP), nodemask=(null)

I therefore

changed the Vagrantfile (line 27)
from

to

destroyed the VM:

and successfully redeployed it after changing the flask.service file as describ

[2020-05-18 11:13] toxophilist commented on #10
Files updated as part of other work.

[2020-05-18 11:13] #10 closed

[2020-05-18 11:16] toxophilist commented on #7
@Rinjhin I've been doing some work on the docker file and the repo has been updated to contain the slightly modified file and I have changed the instruction to show the Docker commands to be execute rather than a bash script. If you try the docker commands you should be able to run this on Windows directly jsut change the `pwd` to the clone location.

[2020-05-18 16:20] fuadar opened #15 "OCI_CONFIG_DIR point to wrong directory"
in the Doc for 0.50
export OCI_CONFIG_DIR=~/.oci/oci.config . This failed because docker is trying to mount this as a directory it needs to be
export OCI_CONFIG_DIR=~/.oci

[2020-05-18 17:23] Rinjhin commented on #7
I followed the latest instructions, got the new clone, built and started the image again:
RBANERJE-LAP+RBANERJE@RBANERJE-LAP MINGW64 ~/oci-designer-toolkit ((v0.5.1))
$ docker run -d --rm -p 80:80 \

b28e3c27c1bb0e8573fa80e2fbbef0b9afc2bc976fd34e332025248039b448e3
However, still connecting to local host fails when I do 'http://localhost/okit/designer' on the browser

[2020-05-18 17:51] toxophilist commented on #15
The environment variable is for you to specify the directory where you have your config located and the docs show an example. The 5.1 release does not specifically use this because the docs show the full example docker command.

[2020-05-18 17:51] #15 closed

[2020-05-18 18:10] toxophilist commented on #7
Can you execute
[code]

It should show something like

[code]

Which indicates that port 80 is exposed to the host system.

Also if you replace the -d with -it in the docker run command you will see what port it gunicorn is listening on.

The new docker command does assume you have rebuild your docker container.

[2020-05-18 18:35] Rinjhin commented on #7
Yes, I have followed the instructions and re-built the container with 'docker build ...' command.  As I run the command: 'docker container ls --format "table {{.ID}}\t{{.Names}}\t{{.Ports}}" -a', I see:
CONTAINER ID        NAMES               PORTS
c43339fbaa76        docker-tutorial
I don't see okit there.  If I run docker images, I see okit:
REPOSITORY             TAG                 IMAGE ID

[2020-05-19 01:35] Davis2019 opened #16 "Error starting docker image"
Hello
I´m getting this error when starting docker image and running with -it option, do you know what could be the cause ?
[2020-05-19 01:28:47 +0000] [1] [INFO] Starting gunicorn 20.0.4
[2020-05-19 01:28:47 +0000] [1] [INFO] Listening at: http://0.0.0.0:80 (1)
[2020-05-19 01:28:47 +0000] [1] [INFO] Using worker: sync
[2020-05-19 01:28:47 +0000] [8] [INFO] Booting worker with pid: 8
[2020-05-19 01

[2020-05-19 08:17] toxophilist commented on #16
@Davis2019 this is likely to be because of an error on the -v part of the command and the volume mount failed. If you execute:
[code]
It will show the volumes mounted on the container and there needs to be volumes for okitweb & visualiser mounted with the full path of the extracted directory.

[2020-05-19 08:17] toxophilist commented on #7
@Rinjhin can you try running the command replacing the -d with -it

[2020-05-19 11:56] mikarinneoracle opened #17 "okit cannot access oci cli private key file, causes "file not found" error"
Running as Docker

ls -la ~/.oci
total 24
-rw-------   1 mrinne  staff   306 May 19 14:14 config
-rw-------   1 mrinne  staff  1679 May 19 14:14 oci_api_key.pem
-rw-------   1 mrinne  staff   451 May 19 14:14 oci_api_key_public.pem

export OCI_CONFIG_DIR=~/.oci
docker run -it --rm -p 80:80 \
           --name okit \
           --hostname okit \
           -v ~/.oci:/root/.oci:Z \
           -v `pw

[2020-05-19 14:54] toxophilist commented on #17
@mikarinneoracle This is because the config file contains an Absolute reference to the pem file that is only appropriate to the host machine. If you change it to ~/.oci/oci_api_key.pem it should work.

[2020-05-19 14:54] #17 closed

[2020-05-19 16:27] mikarinneoracle commented on #17
Yes, thatg worked, thanks! It was propably in the instructions but I didn't quite get it. It was a bit tricky since the cli setup config creates an absoloute path. Maybe it should be changed.

[2020-05-19 17:05] mikarinneoracle opened #18 "On resource manager bool values with a capital letter (True/False) fail the job (on Firefox 68.7.0esr (64-bit) OSX)"
When I fixed bool values manually by editing the job in Resource Manager stack and changing values true/false instead of True/False the job would work without errors.

[2020-05-19 17:06] cfornale opened #19 "Easier way to use it under Windows ?"
I mean our Oracle Windows image that we have on our company laptops which doesn't support WSL2 so I cannot run Linux and run the docker with Linux kernel...

any simple suggestion would be very welcome...

many thnx in advance
-Cla

[2020-05-19 17:46] mikarinneoracle commented on #18
<img width="666" alt="Screenshot 2020-05-19 at 19 50 48" src="https://user-images.githubusercontent.com/22078405/82360247-c47efe80-9a11-11ea-8a6d-b4b5eb412e21.png">

[2020-05-19 18:04] Rinjhin commented on #7
I deleted everything, got the clone again and ran the following:
$ docker build --tag okit --file ./containers/docker/Dockerfile --force-rm ./containers/docker/
Sending build context to Docker daemon  8.704kB
Step 1/9 : FROM oraclelinux:7-slim
 ---> 3f15c01b91bb
Step 2/9 : LABEL "provider"="Oracle"       "issues"="https://github.com/oracle/oci-designer-toolkit/issues"       "version"="0.5.1"

[2020-05-19 19:30] andjaram commented on #16
Hi, same issue here.

C:\Users\andjaram\containers\oci-designer-toolkit> docker run -it --rm -p 80:80 --name okit --hostname okit -v ~/.oci:/root/.oci:Z -v ./okitweb:/okit/okitweb:Z -v ./visualiser:/okit/visualiser:Z -v ./log:/okit/log:Z okit
[2020-05-19 19:25:07 +0000] [1] [INFO] Starting gunicorn 20.0.4
[2020-05-19 19:25:07 +0000] [1] [INFO] Listening at: http://0.0.0.0:80 (1)
[2020-05-19 19:25:

[2020-05-20 00:08] dreora32722 opened #20 "Link to OCI Console should be data driven"
The Toolkit UI (top right cloud icon) links to OCI console in phoenix but users may have other home regions eg ap-sydney-1.
The link to OCI Console could potentially be created from the Users oci config file which contains the region?

[2020-05-20 08:43] toxophilist commented on #19
@cfornale this is one of the reasons we added the Vagrant/VBox solution. We are continuing to look into docker/windows.

[2020-05-20 08:46] toxophilist commented on #18
@mikarinneoracle This will be resolved in the v0.6.0 release where the variable will not be used for RM. Variables are being removed to get around the 100 variable limit in RM.

[2020-05-20 08:46] #18 closed

[2020-05-20 08:52] mikarinneoracle commented on #18
thank you!

[2020-05-20 10:29] toxophilist commented on #16
@andjaram The issue will be the relative reference to the directories if you replace the
[code]
with
[code]

This should resolve your issue.

The oci cli does not need to be installed on the host all you need is to create a config in ~/.oci that matches that defined in https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/sdkconfig.htm

[2020-05-21 10:54] toxophilist commented on #20
Will be fixed in v0.6.0

[2020-05-21 10:54] #20 closed

[2020-05-21 10:56] toxophilist commented on #9
100 variable restriction issues will be fixed in v0.6.0

[2020-05-21 10:56] #9 closed

[2020-05-23 02:49] revnav opened #21 "Need ability to query multiple compartments at a time"
We follow standard practice of keeping network and compute/storage/DB etc under separate compartments. using OKIT we can only query one compartment at a time, either NET or compute/storage/DB.
The OKIT show compute/storage/DB etc without VCNs as they are not under same  compartment. Need an ability to pick multiple compartments to draw the complete picture.

[2020-05-26 08:58] toxophilist commented on #21
@revnav If you pick a higher level compartment it will query sub compartments to bring back that information.

[2020-05-26 15:23] revnav commented on #21
@toxophilist Yeah, I tried that already. We cannot pick the root compartment from the query option. It only give first level compartments underneath the root.
We have NET under root and then other compartments. The only parent for all is the root level compartment.

[2020-05-27 18:22] revnav opened #22 "Generate not working for queried resources"
I am not able to generate terraform/ansible or resource manager files for the queried resources from existing tenancy. Tried two different tenancies.

I am running it as docker on mac using docker engine:19.03.8, compose:1.25.5
All three generate options give the following errors:

ERROR: invalid literal for int() with base 10: 'None'
Traceback (most recent call last):
  File "/okit/okitweb/okitWe

[2020-05-27 18:36] revnav commented on #22
please note that in both the tenancies the subnets were regional subnets.

[2020-05-28 09:53] toxophilist commented on #21
@revnav dded Tenancy Root to the list of selectable compartment. This will be in the 0.6.0 release.

[2020-05-28 09:53] #21 closed

[2020-05-28 15:07] toxophilist commented on #22
@revnav will be resolved in 0.6.0 release

[2020-05-28 15:07] #22 closed

[2020-05-28 15:09] toxophilist commented on #3
@AnykeyNL Can you try the 0.5.1 release to see if you still have the issue because I'm unable to reproduce. These values are pull before release from OCI.

[2020-05-29 02:18] sebastiaodev opened #23 "Add DB Systems VM/BM"
I can´t add DB Systems icon to my draw design.This one will be added in next update?

[2020-06-03 13:47] toxophilist commented on #23
In release 0.6.0

[2020-06-03 13:47] #23 closed

[2020-06-03 19:32] andytael opened #28 "ENH REQ:Export to OmniGraffle"
It would be awesome if it would be possible to export the OmniGraffle format or some compatible format

[2020-06-04 10:21] toxophilist commented on #3
Until we upgrade the oci python module I have removed the display of CPU / Memory. This will return in a future release.

[2020-06-04 10:21] #3 closed

[2020-06-04 10:33] toxophilist commented on #19
Version 0.7.0 will have some PowerShell scripts for building / starting docker in the containers/scripts directory

[2020-06-04 10:33] #19 closed

[2020-06-04 10:33] #16 closed

[2020-06-04 10:36] toxophilist commented on #7
@Rinjhin

The pwd will not work on windows as far as I know can you try.

#### Start Docker Image
- OKIT_ROOT_DIR  : Absolute directory name for the extracted / cloned OKIT repository
- OCI_CONFIG_DIR : Directory containing the OCI config file. Details can be found in [OCI Designer Toolkit Installation Guide](documentation/Installation.md#oci-config-file).

[code]

Version 0.7.0 will ship with som

[2020-06-04 10:36] #7 closed

[2020-06-04 10:37] toxophilist commented on #28
@andytael We'll take a look at generating a compatible format

[2020-06-08 12:06] rafdanzi commented on #7
Hi, when would be this 0.7 Version delivered?

[2020-06-08 16:46] toxophilist commented on #7
24th June

[2020-06-09 07:39] rafdanzi commented on #7
Thanks!

[2020-06-16 09:09] Davidmh93 opened #30 "Terraform option gives no response"
When creating a terraform template of the design i've produced gives no response. Compartment names exist in my tenancy as well.

Any info. on how I can debug this further? This is the error in the console:

POST http://localhost/okit/generate/terraform 500 (INTERNAL SERVER ERROR)

[2020-06-17 17:44] sumit103 opened #31 "not able to run docker image using '-it' in the run command"
Hi

I am trying to setup okit but in the last command which i use

sudo docker run -it --rm -p 80:80 \
           --name okit \
           --hostname okit \
           -v ~/.oci:/root/.oci \
           -v `pwd`/okitweb:/okit/okitweb \
           -v `pwd`/visualiser:/okit/visualiser \
           -v `pwd`/log:/okit/log \
           okit

I am m stuck after this command. The command does not execute

[2020-06-18 09:03] toxophilist commented on #30
@Davidmh93 if you are running the docker version can you start it with the -it instead of -d and then execute the generate. You should then see what the server error is. If running the Vangrant you should be able to log in and check the log file in /okit/log.

Can you then post the error.

[2020-06-18 09:57] toxophilist commented on #31
@sumit103 running with `-it` starts the server interactive so when you close the command it shuts down. The `-it` is useful for seeing the server errors / whats happening accessing http://localhost/okit/designer will display the designer and if not you should see the error where the command is running.

From your command example it looks like you are running this on an oci instance so you could te

[2020-06-23 08:55] toxophilist commented on #31
@sumit103 If you are running this on an oci instance you could either open port 80 or use ssh tunnelling to access the server. This linkedin article may help https://www.linkedin.com/pulse/how-set-up-headless-okit-oci-badr-tharwat/

[2020-06-24 14:11] toxophilist commented on #30
@Davidmh93 Can you test this with the new 0.7.0 release

[2020-06-25 10:10] sumit103 commented on #31
@toxophilist found a new post on this, can you pls check this as in this the user opens all the ports to connect it on his local machine but is it necessary or will it work if I open a particular port instead of all the ports.
Thanks

[2020-06-26 10:40] toxophilist commented on #31
@sumit103 You just need port 80 for the browser access

[2020-06-27 02:42] meerkat2u opened #37 "Vagrant URL has changed"
Vagrantfile in oracle/oci-designer-toolkit/containers/vagrant refers to
URL https://oracle.github.io/vagrant-boxes/boxes/oraclelinux/7.json which doesn't exist
Valid URL appears to be https://oracle.github.io/vagrant-projects/boxes/oraclelinux/7.json

[2020-07-02 09:07] xperiazn opened #38 "unable to create docker image"
when i run this command: docker build --tag okit --file ./containers/docker/Dockerfile --force-rm .
I got following error.

Updated:
  ca-certificates.noarch 0:2020.2.41-70.0.el7_8
  oraclelinux-release-el7.x86_64 0:1.0-12.el7

Complete!
Loaded plugins: ovl
https://yum.oracle.com/repo/OracleLinux/OL7/oci/included/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found
Trying other mirro

[2020-07-06 12:06] toxophilist commented on #37
@meerkat2u this will be fixed in the 0.8.0 release

[2020-07-06 12:06] #37 closed

[2020-07-06 14:00] toxophilist commented on #38
@xperiazn this looks like you can't access the yum repo and I suspect it's due to proxy / routing issues in your environment.

[2020-07-06 14:08] xperiazn commented on #38
This link is working for you?
https://yum.oracle.com/repo/OracleLinux/OL7/oci/included/x86_64/repodata/repomd.xml

[2020-07-06 15:57] toxophilist commented on #38
@xperiazn no I can't access that url but I can build the docker container. I suspect you are not able to access the OL Yum repos or it would not be trying alternative mirrors. Hence the comment about routing / proxy.

[2020-07-07 00:21] Rinjhin opened #39 "Vagrant does not work the second time"
I followed the instructions for creating a Vagrant image and it worked successfully the first time.  However, when I ran today with 'vagrant up; vagrant ssh', and I navigated to http://localhost/okit/designer on my browser, it gives me Internal Server Error.  After I built the image, I see the following that the okit folder is empty:
[vagrant@okit-vagrant ~]$ ls
okit
[vagrant@okit-vagrant ~]$ cd o

[2020-07-08 02:34] jsalaman commented on #38
Check your local yum configuration. Most likely your yum repos are out of date.
Note that the error yuu get is a 404 (not found) and not a timeout (like if where a proxy thing).

[2020-07-08 12:26] sskarthikn83 commented on #38
I have same issue right now and not moving further. I tried to install OCI OKIT Oracle Linux7, Autonomous Linux and CentOS, all reported the same error issue with the repository ol7_ociyum_config. I disabled the repository and even I commented in the oracle-linux-ol7.repo but no luck still.

[2020-07-08 15:04] toxophilist commented on #39
@Rinjhin have you upgraded okit between creating the Vagrant image and running it today.

[2020-07-08 15:54] Rinjhin commented on #39
No I have not upgraded okit since my initial download from github back in May.  Should I download the GIT Repository once again, and re-install Vagrant on top of Virtual Box?

[2020-07-08 21:11] toxophilist commented on #39
@Rinjhin I would recommend you do that. The build process has changed slight so that it copies all the files into the image rather than link them. Check out the new instructions once you have pulled the latest.

[2020-07-09 00:17] Rinjhin commented on #39
I have pulled the latest version of oci-designer-toolkit.git today from github.  I re-installed my Virtual Box, Vagrant and re-created vagrant image.  But I got the same Internal Server Error in the browser when I type: http://localhost/okit/designer.  Also the vagrant user's home directory is still empty:
[vagrant@okit-vagrant okit]$ cd
[vagrant@okit-vagrant ~]$ ls
[vagrant@okit-vagrant ~]$ pwd
/

[2020-07-09 10:19] toxophilist commented on #39
@Rinjhin If you ssh into the vagrant image you should be able to cd to /okit/logs. The okit.log in this directory should given you more information on what the issue is.

[2020-07-09 10:45] webfrasse commented on #39
@Rinjhin There is no need to re-install Virtualbox or Vagrant. Remove the OKIT vagrant build with vagrant destroy from the same folder where you ran vagrant up

All you need to do is clone the latest OKIT. You can actually remove the old clone you downloaded and just download the latest, or put it in a new location and do vagrant up.

[2020-07-09 11:00] webfrasse commented on #39
You can run _vagrant global-status_ from any location on your machine and it will list all vagrant instances. Sample output on my mac:

_vagrant global-status
id       name         provider   state    directory
--------------------------------------------------------------------------------------------------------------
b2cf7f8  oci          virtualbox poweroff /Users/mfransso/VirtualMachines/MyVa

[2020-07-09 14:32] pbattagl commented on #38
On OCI cumpute instance, I suspect the issue is related to missing region appended to yum repository file
ie:
 https://yum$ociregion.oracle.com/repo/OracleLinux/OL7/oci/included/x86_64/

ociregion variable is extracted by yum from file /etc/yum/vars/ociregion at run time.
NB: linux kernel used to build image is the one installed by default with docker which you can find below
$ docker images
REPOS

[2020-07-09 17:24] xperiazn commented on #38
Thank you @pbattagl,

That definitely solved problem for me.

Maybe there is a problem with images from my (Frankfurt region).
Kind regards

[2020-07-11 14:46] Sylgrine opened #41 "[QUERY OCI] Not able to query metadata on an existing tenancy"
When I try to "query OCI" information,  the window is still blocked.
Informations on the Windows are :
Connection Profile : DEFAULT
Region : Retrieving
Compartment : Retrieving

- OCI CLI is correctly configured on my my server (I can retrieve information on my tenancy).
- In file "okit-debug.log", I can see the following lines (I masked OCID)  :
2020-07-11 14:32:25,578 [   12]  DEBUG :   ociConne

[2020-07-13 10:24] toxophilist commented on #41
@Sylgrine this is most likely to be because the key_file is specified incorrectly. The docker container does not have an opc user. You need to change it to the following:
`
key_file=~/.oci/oci_api_key.pem
`

[2020-07-13 14:08] Sylgrine commented on #41
@toxophilist Thanks for your reply : I modified the config file for OCI and it's working :-)

[2020-07-13 16:58] #41 closed

[2020-07-14 14:43] padraicr commented on #38
This issue is a problem with the underlying OS yum repo configuration, closing the issue.

[2020-07-14 14:43] #38 closed

[2020-07-14 14:47] #31 closed

[2020-07-14 14:48] #30 closed

[2020-07-15 12:51] jjciudad opened #45 "Error executing: docker-compose up"
I am trying to install OCI designer toolkit, I am trying it in an OCI Ubuntu instance. I have followed all the steps indicated in the installation guide, but in the following: docker-compose up
I get the following error:

https://yum.oracle.com/repo/OracleLinux/OL7/oci/included/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found
Trying other mirror.
.
.
.
failure: repodata/repomd.xm

[2020-07-15 13:05] webfrasse commented on #45
It's not a good idea to install OKIT on an OCI instance since you have to put your private keys on that instance in the cloud. If that instance gets compromised you have given away the main key to your tenancy. That's especially bad if it's a customer tenancy. OKIT is intended to be installed on your personal computer where you're in control of your private keys. We have a roadmap for running OKIT

[2020-07-15 13:41] toxophilist commented on #45
@jjciudad This is an issue with OCI not OKIT see [Issue #38](https://github.com/oracle/oci-designer-toolkit/issues/38)

[2020-07-16 12:22] jjciudad commented on #45
Thanks webfrasse, toxophilist.
Today I tried to install on my laptop (Win10), for this I had to install docker for windows. I'm at the same point as yesterday, but now the error when executing "docker-compose up" is as follows:

ERROR: for c7227a46e147_okit  Cannot start service okit: Ports are not available: listen tcp 0.0.0.0:80: bind: An attempt was made to access a socket in a way forbidden by

[2020-07-16 12:45] webfrasse commented on #45
I donät have access to a windows env. but generally ports below 1024 will trigger a warning since they are considered privileged. I get a warning on my mac from vagrant for that reason. Another reason for this error could be the windows firewall or McAfee.

Maybe someone with a windows env. can add some insight to this issue?

[2020-07-31 06:39] sunstarer opened #55 "Visualizer decoding for OCI instance when not encoded in `utf-8`"
https://github.com/oracle/oci-designer-toolkit/blob/9ef30e0f29f13229ec21ae6260edb6499017d183/visualiser/facades/ociInstance.py#L107

### Support many decoding options
Would like support for any decoding of data to support all possible encodings

#### Version 0.8.0
#### Backend Server

This is what I did to temporarily get around the issue, I don't think this is a good approach.
[code]

[2020-08-03 21:10] tariqalimkhan opened #58 "IPSec Option missing"
I see that the pallete has the option for FastConnect but I don't see IPSec VPN option, though i see the list properties of DRG showing that.

[2020-08-04 09:45] toxophilist commented on #58
@tariqalimkhan which version are you using because the fast connect has been removed from the palette given it was there by mistake.

[2020-08-04 11:58] tariqalimkhan commented on #58
Thanks for your reply. I am using 0.8.
![image](https://user-images.githubusercontent.com/48773650/89291209-f9612180-d60e-11ea-9850-a9c59941aaf5.png)

[2020-08-04 14:48] tariqalimkhan commented on #58
In fact this is the palette I have
![image](https://user-images.githubusercontent.com/48773650/89308119-be6ae800-d626-11ea-8dbd-95069a7e6f7e.png)

[2020-08-04 16:31] sunil-warrier opened #61 "Issue with DRG attachment code in OKIT v0.8.0"
When creating a DRG, and then exporting the diagram into ansible, the main.yml creates the below and it errors out when parsing the main.yml under "Create DRG attachment".  it looks like the objectionable lines are
        drg_id = "{{ Okit_Drg001_ocid }}"
        vcn_id = "{{ Okit_Vcn001_id }}"

I believe the "=" needs to be replaced by ":"?

here is a part of the main.yml

# ------ Create Dynami

[2020-08-05 09:17] toxophilist commented on #61
Fixed in 0.9.0

[2020-08-05 09:17] #61 closed

[2020-08-05 09:48] cdustman opened #64 "Generated Terraform code for Route Rule of a Service Gateway is wrong"
Instead of:
destination       = var.Okit_Rt003_route_rule_02_destination
we need:
destination       = data.oci_core_services.Okit_Sg001Services.services[0]["cidr_block"]

[2020-08-05 10:04] sunil-warrier opened #65 "Issue with ansible code in main.yml when creating tcp options"
OKIt v 0.8.0
When: Create a diagram with security list having ingress or egress rule with tcp options. After exporting this into ansible, the main.yml shows max and min variables without quotes.  This is causing issues with parsing yaml. Once i put them in quotes the issue gets resolved.
For example:
+--------------------------------------+
              tcp_options:
                destination_po

[2020-08-05 12:44] toxophilist commented on #65
Fixed in 0.9.0 odd though given they are integer values

[2020-08-05 12:44] #65 closed

[2020-08-05 12:51] toxophilist commented on #58
@tariqalimkhan Yes we currently have some miss match and the IPSec code was pulled from an earlier release because it was in complete. The intension was that DRG / FastConnect/IPSec all be released at the same time but this did not happen. We are looking at getting this resolved as soon as we can.

[2020-08-05 12:54] #39 closed

[2020-08-05 15:19] toxophilist commented on #64
fixed in 0.9.0

[2020-08-05 15:19] #64 closed

[2020-08-07 01:22] dongwookim1004 opened #71 "gateway creation issues"
I am using okit 0.9.1 version

After creating 2 vcns, add internet gateway, nat gateway and service gateway, but only 1 gateway is created.

For example
If you create an internet gateway in vcn1, you cannot create an internet gateway in vcn2.

[2020-08-07 09:22] toxophilist commented on #71
@dongwookim1004 I know what the issues is the fix will be in the next release but I'll look at a point release next week.

[2020-08-07 13:00] toxophilist commented on #71
Fixed in 0.9.2 release

[2020-08-07 13:00] #71 closed

[2020-08-13 07:53] soeremk opened #75 "Vagrant image failes to install V0.9.2"
Hi when I try to install the latest 0.9.2 version it gives an error
This is snipped from the install:

    okit-vagrant: ============== Running privileged commands ==============
==> okit-vagrant: Running provisioner: shell...
    okit-vagrant: Running: inline script
==> okit-vagrant: Running provisioner: file...
    okit-vagrant: ../../okitweb => /okit/okitweb
==> okit-vagrant: Running provisione

[2020-08-13 09:49] markmundy opened #76 "Autonomous Database needs ability to use VCN/Subnet"
Autonomous Databases allow 2 types of access to them.

OKIT currently supports the secure access from everywhere approach but does not allow Virtual Cloud Network access.

This type of access is required for some of the Reference Architectures Oracle have written.

[2020-08-13 10:09] markmundy opened #77 "Autonomous Database access from everywhere needs access control rules"
When creating an Autonomous Database it is possible to specify for the access from everywhere option, access control rules to secure access to only those ip's that can.
There is no option in OKIT to configure these today.

[2020-08-13 10:35] toxophilist commented on #75
Before you built the Vagrant image did you copy you oci config file / pem file to the oci-designer-toolkit/containers/oci directory. The Vagrant build will copy them from that directory into the Vagrant image.

[2020-08-18 12:11] pbattagl opened #79 "Instances not retrieved after installing 0.9.2"
After upgrading to 0.9.2 (from 0.8.0) I noticed the existing instances are not retrieved from my tenancy; it was working fine from 0.8.0.
Found below error message who seems to point out to code issue (might be region issue though from Zurich)

2020-08-17 14:18:02,217 [ 1012]  ERROR :       _internal[0122] : Error on request:
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site

[2020-08-19 22:00] Rovinovic opened #80 "DynamicRoutingGateway error on querying"
Hi, I cannot query an existing VCN due to an error on DRG

[code]

[2020-08-21 08:27] toxophilist commented on #76
Added to 0.10.0

[2020-08-21 08:27] #76 closed

[2020-08-21 08:30] toxophilist commented on #79
I suspect your Instance was built with Oracle Linux 7.7. This was dropped as an image hence the issue I will be adding code to mitigate this issue.

[2020-08-24 17:09] toxophilist commented on #80
Resolved in 0.10.0

[2020-08-24 17:09] #80 closed

[2020-08-25 07:43] rajeshvig opened #81 "ADW Database created in private subnet not supported"
No option to specify an ADW/ATP database in private subnet.
On query it presents ADW database in private subnet as public

[2020-08-26 09:57] toxophilist commented on #81
Duplicate of #76

[2020-08-26 09:57] #81 closed

[2020-08-26 10:07] toxophilist commented on #79
fix added in 0.10.0

[2020-08-26 10:07] #79 closed

[2020-08-26 13:49] rastangineer commented on #45
Maybe you have something running on port 80 on your windows machine. I was able to install OKIT using docker image, I received the warning about ports below 1024, but the OKIT started fine.

[2020-08-27 09:36] Rovinovic opened #86 "DynamicRoutingGateway error on querying "getBoundingClientRect""
Still getting the DRG error when querying unfortunately after the new release 0.10.0

[code]

![image](https://user-images.githubusercontent.com/11995104/91423841-b2192a00-e876-11ea-9e53-5cb7c58b7ecd.png)

[2020-08-27 11:12] toxophilist commented on #86
Should be okay the odd condition during query should not be hit now.

[2020-08-27 11:12] #86 closed

[2020-08-27 11:16] toxophilist commented on #75
@soeremk Can you try this with the latest release but prior to building the Vagrant image you will need to make sure that the config exists in containers/oci and your pem key has been copied to the containers/oci directory. The contents of this directory will be copied to the image.

[2020-08-27 11:16] #75 closed

[2020-09-04 05:42] dongwookim1004 opened #94 "Loadbalancer - Backend Instances multi target issue"
I am using okit 0.10.2 version

Cannot target multiple Backend Instances in a load-balancer.

[2020-09-04 14:39] toxophilist commented on #94
@dongwookim1004 can you expand on your issue.

[2020-09-07 05:40] dongwookim1004 commented on #94
Load Balancer Properties -> Backend Instances -> cannot select multiple check-boxes. (only one check-box)

[2020-09-07 16:21] toxophilist commented on #94
The backends is a multi select list not check boxes so use shift/Ctrl for windows or Shift/Command on Mac to select multiple.

[2020-09-07 16:21] #94 closed

[2020-09-08 06:38] dongwookim1004 commented on #94
OK~
Thank you~

[2020-09-08 21:47] rastangineer opened #96 "Unable to upgrade to latest version (v0.10.2)"
Hi team,

I'm trying to use the latest version of OKIT, but when I start the docker image and open the UI I just see this on the UI:

![image](https://user-images.githubusercontent.com/2855696/92531320-abce6a80-f1f3-11ea-87e4-3cb7ae8f4db2.png)

## Versions

OKIT Version: `v0.10.2` (although OKIT UI shows `v0.9.2`)
Browser: Chrome 85.0.4183.83

## Steps to reproduce:

1. Clone repo
2. Execute `dock

[2020-09-09 18:49] toxophilist commented on #96
The files will be copied to the image during build. Can you try running docker-compose build to force the image to be rebuilt.

[2020-09-09 19:45] rastangineer commented on #96
Thanks @toxophilist,

After building the image, I can see the correct version on the UI.

[2020-09-09 19:45] #96 closed

[2020-09-09 20:07] rastangineer opened #98 "Error trying to deploy HA Web Application architecture template"
Hi,

I'm trying to deploy HA Web Aplication Reference Architecture template but I'm having the following error :

![image](https://user-images.githubusercontent.com/2855696/92647682-e7c60600-f2ad-11ea-9345-341c9de6129f.png)

## Versions

OKIT Version: `v0.10.2`
Browser: Chrome 85.0.4183.83

## Steps to reproduce

1. Open HA Web Application template (`Menu-> Templates-> Reference Architecture -> HA

[2020-09-10 16:45] toxophilist commented on #98
Will be fixed in the 0.11.0 release

[2020-09-10 16:45] #98 closed

[2020-09-17 09:39] markmundy opened #107 "Service Gateway only offers all services when drawn but then provisions Object Storage"
Found with Okit 0.11.0

When you place a service gateway on your VCN you only have the choice to set it up for All Services.
Service gateways now offer an alternate service of Object Storage only.

When the service gateway is provisioned with terraform, the resulting service gateway gets created with Object Storage Only. The provisioning needs to be complete and consistent to avoid confusion.

[2020-09-17 16:55] #107 closed

[2020-09-18 09:57] markmundy opened #109 "Service Gateway related route rules do not allow setting a Destination Service"
Service Gateway related route rules do not allow setting a Destination Service.
It is possible to select a specific destination service within a route rule relating to a service gateway. It is currently not possible to do this in OKIT and therefore not able to be provisioned or queried. This results in incorrect deployments which can lead to fails.

[2020-09-18 10:08] markmundy opened #110 "ENH REQ: Need to be able organise custom templates in folders"
As users create their own reusable architectures, it would be good to be able to categorise these in a folder structure. Being able to order them by type or environment would be really useful.

[2020-09-18 16:09] toxophilist commented on #109
When Service Gateway selected the route table generates the service cidr based on the service gateway service name.

[2020-09-18 16:09] #109 closed

[2020-09-18 16:11] toxophilist commented on #45
@jjciudad Have you tried this with the latest release

[2020-09-23 03:11] revnav opened #112 "ENH REQ: Need ability to rearrange icons from query output"
requesting ability to rearrange the icons displayed when querying a tenancy. For example I have about 10-15 compute instances running in compartment and querying the compartment gives me display which has compute instances stack horizontal. It is really difficult to view or present the output... see sample below

![image](https://user-images.githubusercontent.com/8673231/93962511-d3532600-fd0f-11e

[2020-09-24 00:59] devopyes opened #113 "ERROR: object of type 'NoneType' has no len()"
Not able to generate terraform code while having autonomous data warehouse services exists in the layout.

okit    | ERROR: object of type 'NoneType' has no len()
okit    | Traceback (most recent call last):
okit    |   File "/okit/okitweb/okitWebDesigner.py", line 227, in generate
okit    |     generator.generate()
okit    |   File "/okit/visualiser/generators/okitGenerator.py", line 188, in gene

[2020-09-24 13:10] toxophilist commented on #113
@devopyes which version are you using because the whitelisted_ips should never be None.

[2020-09-24 15:09] markmundy opened #115 "ENH REQ: Have an export option to export to Git for integration with Resource Manager"
This might be an odd one but some users would like to be able to export to a Git respository and then have RM build a stack from there. Currently it is not possible without configuration changes to have exported tf be pushed to a git repository and then have Oracle Resource manager utilise it.

Might be nice to allow this to happen especially as this is what is done when okit exports directly to R

[2020-09-25 17:29] devopyes commented on #113
Version 0.11.0

[2020-09-28 11:19] toxophilist commented on #113
Fixed in next release

[2020-09-28 11:19] #113 closed

[2020-09-28 11:19] toxophilist commented on #115
Fixed in 0.12.0 release

[2020-09-28 11:20] #115 closed

[2020-09-29 09:25] toxophilist commented on #58
Added to the 0.12.0 release

[2020-09-29 09:25] #58 closed

[2020-09-29 13:12] markmundy opened #120 "ENH REQ: Database System/Autonomous name is not represented on the canvas"
Even though it is possible to give a database system or autonomous database a name, this name is not presented on the OKIT canvas.
For putting architectures together to show and share, having all the elements visual and named is essential.

[2020-09-29 13:21] markmundy opened #121 "ENH REQ: Need an undo capability"
When building complex designs it is obviously a good idea to save your design frequently to ensure catastrophic issues, however it would be a nice feature to offer an undo. This would be especially useful if associated with a delete of the wrong component.

[2020-09-30 11:11] markmundy opened #122 "ENH REQ: Need ability to wrap oci resources across the entire canvas"
Currently when OCI is drawn using OKIT, elements such as subnets are dropped on the the canvass and appear in a vertical line under each other. This leaves a lot of whitespace on the canvas that is not used and so after exporting to an image for use in things such as presentations it is hard to show correctly.

Would it be possible to wrap resources around the canvass in a way more appropriate for

[2020-10-01 11:37] toxophilist commented on #45
This is an issues accessing the oracle yum repo from the box executing docker and associated with the yum update command in the docker file. To validate your system create a simple docker container based on the oraclelinux:7-slim image and connect then execute yum update.

If this works can you try the latest OKIT release and if you still see the issue with yum reopen this issue.

[2020-10-01 11:37] #45 closed

[2020-10-02 13:59] toxophilist commented on #120
In release 0.12.0

[2020-10-02 13:59] #120 closed

[2020-10-05 11:24] chrisfw opened #126 "Enhancement Request: Provide preference for or dynamic toggle to display labels on artifacts."
Hi,
First off, I'd like to thank you for creating this very useful tool!
I wanted to note that It would be very helpful to control the display of labels on different artifacts, e.g. block storage volumes either through a global preference or dynamic context selection.  Currently, for example, the block storage volume name only displays when hovering over the element.  Due to layout screen real est

[2020-10-09 11:53] chrisfw opened #131 "Issue with visualization of block volumes"
Hello,

There appears to be an issue with the rendering of block volumes attached to an instance under certain conditions.  The only difference I can see between those compartments that work and the one that does not in our tenancy is that the block volume attachments in this compartment are iscsi, but that doesn't seem like it should impact rendering

This is in reference to Version 0.12.0.  When

[2020-10-09 14:12] toxophilist commented on #131
@chrisfw If you open the browser Developer tool console do you see any errors

[2020-10-10 12:05] chrisfw commented on #131
@toxophilist , no, apparently there are no errors according to the console.

![image](https://user-images.githubusercontent.com/6135741/95654640-4fe75200-0acf-11eb-964f-c271d1ccaf82.png)

[2020-10-10 12:14] toxophilist commented on #131
@chrisfw I'll see if I can reproduce this next week.

[2020-10-10 13:17] chrisfw commented on #131
Thanks @toxophilist, much appreciated!

Regards,
Chris

[2020-10-12 17:46] toxophilist commented on #131
@chrisfw oddly when I create / deploy / query the block volumes appear correctly, although I do tend to clear my cache / hard reload regularly. I'll keep investigation but will be revisiting the drawing functionality for Issue #126 so may resolve it as part of that work.

[2020-10-12 19:36] chrisfw commented on #131
Thanks Andrew.  That is strange.  I wish I could give you read only access to the compartment so you could easily reproduce it, but that would require a NDA and I'd have to obtain customer permission, etc., etc.  If I can reproduce it in a separate dev tenancy, I will let you know.  Please let me know if there is anything else I can do to assist.
Regards,
Chris

[2020-10-13 10:46] toxophilist commented on #131
@chrisfw Do the Block Volumes exist in a compartment that has not been queried. I can repro this if I define my block storage in a separate compartment from the instance and only query the compartment with the instance in it. I'll have to think how to resolve this issue.

[2020-10-13 10:57] hyder opened #135 "Build script on Windows fail"
When running the build script on Windows, it fails with the following error:

[code]

[2020-10-13 11:03] toxophilist commented on #135
Fixed in 0.13.0 release

[2020-10-13 11:03] #135 closed

[2020-10-13 15:01] chrisfw commented on #131
@toxophilist , no the block volumes exist in the same compartment as the instance, vcn, etc. I am querying directly from the tool.
Thanks,
Chris

[2020-10-14 08:30] toxophilist commented on #131
@chrisfw Thanks I'll keep looking

[2020-10-16 15:42] eramaker opened #143 "ENH REQ: Export to OCI Cost Estimator (.oce)"
It would be really great if there would be a option to export to a .oce format file which could be imported into the OCI Cost Estimator. This would provide a nice easy way to price up a design without the hassle that is trying to find all the right components in the Cost Estimator, or creating spreadsheets etc.

[2020-10-16 16:14] scanlonjts opened #144 "Export to terraform failing (sometimes)"
I can query and export to terraform for a few different profiles but have one that fails.
i run from docker

logs: docker logs okit --follow

ERROR: 'ocid1.subnet.oc1.iad.xxxxxx'
Traceback (most recent call last):
  File "/okit/okitweb/okitWebDesigner.py", line 230, in generate
    generator.generate()
  File "/okit/visualiser/generators/okitGenerator.py", line 206, in generate
    self.renderInst

[2020-10-16 16:16] scanlonjts commented on #144
![image](https://user-images.githubusercontent.com/4170845/96282934-61d26480-0fa9-11eb-9adf-01410e2d32ca.png)

[2020-10-19 11:34] toxophilist commented on #143
@eramaker the next release will provide a side panel that displays a cost estimate, based on the public APIs, for the model and the ability to export a BOM.

[2020-10-19 11:37] toxophilist commented on #144
@scanlonjts I suspect that is because the subnet is missing from the design.

[2020-10-22 11:12] xperiazn opened #148 "Query only show limited number of machines"
I have around 20 VM, 6 DBCS and 2 ATP databases.
Query only shows couple of VM-s.
All vm-s are shown in explorer but not drawn on screen.
Any idea how to repair that?

[2020-10-23 10:28] toxophilist commented on #148
@xperiazn Are they part of OKE cluster

[2020-10-23 12:34] xperiazn commented on #148
Some are and some are not.
30 instances in total. 8 of them are from kubernetes cluster.

![image](https://user-images.githubusercontent.com/44767327/97004106-ce66d980-153c-11eb-90ca-fb4f0e27322e.png)

![image](https://user-images.githubusercontent.com/44767327/97004053-ba22dc80-153c-11eb-83a7-831d7e41e04f.png)

[2020-10-23 21:03] toxophilist commented on #148
@xperiazn the ones associated with one will not be displayed but I can see that it has calculated the space for the instances but not displayed them. I'm wondering if this is associated with #131

[2020-10-23 22:00] jdavies opened #149 "ENH REQ: Need to show a short description on mouse-over"
Great work on this BTW. I'm using v0.12.0. Right now the Display Name field (specifically for an instance) is what is displayed on the screen. However, I'd like to also have the option of using either a short description, or adding a "machine name" field. My reasoning is this: The machine name is hat should be used when defining the machine in Terraform/Ansible. However, when I'm showing the desig

[2020-10-24 13:14] toxophilist commented on #149
@jdavies I'm currently doing some work in this area with respect to display information for canvas artefacts allowing the user to display name / type / additional information (probably description). In addition I'll be looking at the mouse over pop up to display summary information. This is all part of some on going visual clean up and modification to automatic layout.

[2020-10-27 13:43] toxophilist commented on #148
@xperiazn can you attach the json associated with this diagram.

[2020-10-27 16:41] #55 closed

[2020-10-27 22:29] JeromeFr opened #158 "Display Grid checkbox requires a manual page refresh"
Thanks for this great tool!

Small GUI issue : the grid doesn't disappear when I unselect the Display Grid checkbox in the Preferences.

Okit version: 0.12.0
Chrome Version 86.0.4240.75 (Official Build) (64-bit) on Windows 10.
![image](https://user-images.githubusercontent.com/3862497/97368949-3bb39b00-18ac-11eb-9e03-b0d4439773a9.png)

[2020-10-28 09:05] toxophilist commented on #158
@JeromeFr this is usually resolved when you refresh the browser of select new.

[2020-10-28 09:18] JeromeFr commented on #158
That's right, thanks for the workaround.
So the new issue description is : If I toggle the Display Grid checkbox (regardless its current state), nothing happens unless I manually refresh the page.

[2020-10-29 05:47] markmundy opened #161 "ENH REQ: Need to allow adding kubernetes labels to node pools in OKE"
When a user is creating OKE clusters they have the ability to create multiple node pools. These node pools may well be being designed to run as different hardware for specific reasons or indeed to segregate workloads where customers feel the need. Being able to add kubernetes labels to these node pools is possible in the OCI console and needs to be surfaced in OKIT.

[2020-10-29 09:10] toxophilist commented on #158
Will be fixed in 0.14.0

[2020-10-29 09:10] #158 closed

[2020-11-02 09:16] xperiazn commented on #148
@toxophilist can you please explain how to attach the jason?

[2020-11-02 09:23] xperiazn commented on #148
same behavior under 0.13.0

[2020-11-02 10:39] toxophilist commented on #148
@xperiazn You should be able to drag it onto the comment box to upload

[2020-11-03 15:54] markmundy opened #163 "Cost Estimator fails to estimate dbaas included."
The following error is thrown when dbaas is included.

File "/okit/visualiser/model/okit_price_v2.py", line 228, in price_calculator
    dbaas_storage += dbaas['data_storage_size_in_gb'] + 456
TypeError: must be str, not int

[2020-11-03 15:56] toxophilist commented on #163
Need to wrap dbaas['data_storage_size_in_gb'] in specific int conversion

[2020-11-05 10:58] markmundy opened #164 "ENH REQ: Give a title to a queried compartment(s)"
When querying an OCI compartment with or without sub-compartments it would be good to have the Title of the OKIT canvass reflect the top level compartment.

If a single compartment the title could be: Compartment <NAME> and if a sub compartment query: Compartment <NAME> and sub compartments.

[2020-11-05 11:00] markmundy opened #165 "ENH REQ: Include a multi-line description for a design"
It would be good to have a tab to the right that held a multi-line description for an OKIT based design.
This could include a lot more detail around what the purpose of the design was and the thoughts behind it.
Maybe even go as far as allowing it to be exported to markdown to accompany the exported images.

[2020-11-05 15:55] jdavies commented on #122
Or (best wish list item) be able to manually drag and drop the subnects and all of their contents manually so the user can place them more logically.

[2020-11-05 15:59] jdavies opened #166 "Load Balancers should not stack vertically in a subnet"
As of v0.13.0 if I put a load balancer and a compute instance in a subnet, the LB will always be placed on top of the computer instance. I usually adda LB to a public subnet and have it balance over compute instances in a private subnet, so placing the LB at the top in a subnet would only make sense in those instances where it was balancing over instances with the subnet that contains it.

Perhaps

[2020-11-13 10:26] markmundy opened #169 "ENH REQ: OKIT needs to have an autosave capability."
Too many times do you draw something and then accidentally close your browser before saving and everything is lost. OKIT needs the ability to automatically save work to a default downloads directory or have some way of reducing stress caused by losing work.

[2020-11-16 16:55] toxophilist commented on #169
@markmundy We can periodically execute the save but this will use the browsers standard save functionality it that is configured to automatically save to the downloads it would do so. If configured to ask each time then the user would be asked  if they want to save.

[2020-11-16 23:54] scross01 commented on #169
How about using HTML5 Web Storage `window.localStorage` to persist data in the browser automatically

[2020-11-17 09:17] martinweber83 opened #172 "Currency Selector"
Currently the currency of the BOM is limited to US Dollars. The web cost estimator offers the choice of currency. Therefore I think it should not be a big issue to add the currency selector in Okit. European customers expect mainly BOMs with € pricing.

[2020-11-17 19:14] toxophilist commented on #169
Released in version 0.14.0

[2020-11-17 19:14] #169 closed

[2020-11-18 11:38] toxophilist commented on #164
Added to v0.14.0

[2020-11-18 11:38] #164 closed

[2020-11-18 11:48] toxophilist commented on #149
Definition field implemented for all artefacts in v0.14.0 in addition the user has the ability to change display labels & mouse over information

[2020-11-18 11:48] #149 closed

[2020-11-18 12:08] toxophilist commented on #126
New preferences added for displaying labels on all artefacts in v0.14.0 release

[2020-11-18 12:08] #126 closed

[2020-11-18 12:10] chrisfw commented on #126
This is great news  - thank you Andrew!
Regards,
Chris

[2020-11-19 04:35] philstepson opened #180 "Unable to install on Linux systems"
Attempting to build the Docker image On CentOS 8 from the script:
**_./build-docker-image.sh_**

Receiving the following error related to a yum repository:
**_https://yum.oracle.com/repo/OracleLinux/OL7/latest/x86_64/repodata/repomd.xml: [Errno 14] curl#6 - "Could not resolve host: yum.oracle.com; Unknown error_**

The Linux host has access to the internet and I'm able to access the URL outside of

[2020-11-23 11:30] toxophilist commented on #180
@philstepson If you execute
[code]
Can you execute
[code]

Also where are you trying to create the docker container.

[2020-11-23 22:19] javierbm7 commented on #180
Hi @philstepson i solved with these steps:

# sudo cd /etc/yum.repos.d/

#sudo wget http://yum.oracle.com/public-yum-ol7.repo

#sudo nano public-yum-ol7.repo

Edit the file to enable repos ol7_UEKR4, ol7_addons  to anable flag

![image](https://user-images.githubusercontent.com/40583067/100021584-b5f21500-2daf-11eb-9cb2-d22a5f51b928.png)

![image](https://user-images.githubusercontent.com/40583067

[2020-11-24 01:04] philstepson commented on #180
Excellent - Well done.
Thanks!
Phil

[2020-11-24 18:27] toxophilist commented on #180
@philstepson @javierbm7 Are you running OL7 / Centos locally on your laptop

[2020-11-24 20:40] javierbm7 commented on #180
Hi @toxophilist, in my case running in OCI compute instance with OL8

[2020-11-25 09:29] toxophilist commented on #180
@javierbm7 There are separate instructions for OCI Compute Instance installation that do not use Docker. Also yum issues associated with OCI installation tend to be resolved following these [Connecting To Yum Mirrors in Oracle Cloud Infrastructure (OCI)](instructions https://yum.oracle.com/getting-started.html#connecting-to-yum-mirrors-in-oracle-cloud-infrastructure-oci).

I have also seen some co

[2020-11-26 12:18] markmundy opened #187 "Adding an instance and an autonomous database in the same compartment overlays them on the canvas"
If you create a compartment in OKIT and try to drop a compute instance and an autonomous database in to it, the 2 icons representing them get drawn over the top of each other making it impossible to configure the properties of the one underneath and to display properly.
This works fine if you place them on a subnet within the compartment, it is only when you are trying to represent a situation whe

[2020-11-26 15:30] toxophilist commented on #187
Fixed in 0.15.0 release

[2020-11-26 15:30] #187 closed

[2020-11-27 10:45] duhlig opened #189 "Undefined variable in ansible export"
* Type: Bug or PEBKAC
* OKIT version: 0.14.1
* Component: Ansible generator
* Severity: medium, workaround possible
* Description:
  * To reproduce: I "draw" a rudimentary configuration with only one VCN and the bastion fragment. Only the bastion's subnet CIDR needs to be changed. Then I export the content to Ansible.
  * Problem: In okit-ansible.zip/main.yml the task named "Create Security List o

[2020-12-04 14:04] tobalo opened #192 "Docker deployment sequence fails"
Not sure if I'm missing anything- followed documentation. Heres the error:

docker: Error response from daemon: Conflict. The container name "/okit" is already in use by container "e9499007d9f5af9ae0fe36e6b47e479114449fdd4b022ed909fb0e863645c7b0". You have to remove (or rename) that container to be able to reuse that name.
See 'docker run --help'.

[2020-12-04 14:07] tobalo commented on #192
Not a docker expert but trying to learn- was able to get something going by finding image id of okit container.

Looks like there is process running but nothing shows at localhost on web console.

Any guidance greatly appreciated. I will be investigating docker documentation to figure it out.

[2020-12-04 14:18] tobalo commented on #192
So i've been reading the documentation wrong, whoops.

See 'docker run --help'.

Found right command but same error as above. I'm assuming i need to use image_id perhaps instead of name? learning docker as i go here

[2020-12-04 14:19] tobalo commented on #192
Unable to find image 'image:latest' locally
docker: Error response from daemon: pull access denied for image, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.
See 'docker run --help'.

[2020-12-04 14:20] tobalo commented on #192
CONTAINER ID        IMAGE                             COMMAND                  CREATED             STATUS                     PORTS                                      NAMES
e9499007d9f5        b970dbae4725                      "gunicorn --workers=…"   2 days ago          Up 9 minutes               0.0.0.0:80->80/tcp, 0.0.0.0:443->443/tcp   okit

[2020-12-04 18:01] #192 closed

[2020-12-04 18:02] tobalo commented on #192
Resolved.

[2020-12-04 18:01:07 +0000] [1] [INFO] Starting gunicorn 20.0.4
[2020-12-04 18:01:07 +0000] [1] [INFO] Listening at: http://0.0.0.0:80 (1)
[2020-12-04 18:01:07 +0000] [1] [INFO] Using worker: sync
[2020-12-04 18:01:07 +0000] [8] [INFO] Booting worker with pid: 8
[2020-12-04 18:01:07 +0000] [9] [INFO] Booting worker with pid: 9
[2020-12-04 18:01:07 +0000] [10] [INFO] Booting worker with

[2020-12-07 20:20] mp3monster opened #194 "okit Docker in Win 10 Pro fails with error"
Trying to use the Docker build and run, Docker image fails reporting:

standard_init_linux.go:211: exec user process caused "no such file or directory"

This is on windows 10 with Docker for Windows installed, WSL2

[2020-12-07 20:21] mp3monster opened #195 "Okit Docker image in Docker Hub"
Oracle and ATeam have Docker images in the docker hub.  It would be good to see okit also available.

[2020-12-07 20:25] mp3monster opened #196 "Feature Requests ..."
Some suggestions for features ....

- Externalize the key information  so you can swap between different OCI instances
- As the solution is a Python app, it should be able to run on Windows natively if the HTTP server could be more platform agnostic.
- able to design using OKit without needing a tenancy - some organizations control who can have the policies and means to upload key files.

[2020-12-09 10:10] toxophilist commented on #195
@mp3monster I've been looking into this an will revisit in the new year. There were just some internal requirements I need to conform to before this happends.

[2020-12-09 10:25] toxophilist commented on #189
Variable will be added in the 0.15.0 release.

Just as an FYI we will be upgrading to the Ansible Collection version of the in the New Year

[2020-12-09 10:25] #189 closed

[2020-12-09 10:41] toxophilist commented on #194
@mp3monster What was the build command you were using

[2020-12-09 10:59] #180 closed

[2020-12-09 11:22] toxophilist commented on #196
@mp3monster

1. It is currently not recommended to run on an OCI instance although the Installation guide does document native installation it is accessed via SSH Tunnel. We are looking at add Authentication for OCI instances but currently have no date for this.
2. The backend server is simply Flask / GUnicorn with no specific linux implementation there is no reason it could not be installed nativ

[2020-12-09 12:38] mp3monster commented on #196
@toxophilist thanks for the feedback.  By externalizing the configuration I was thinking about the fact that I may want to switch between several tenancies (as ACED and a consultant I need to switch between at least 3 tenancies), but because the configuration is wrapped in Docker it would require several distinct instances. Rather than perhaps providing the details from outside docker image via a

[2020-12-09 12:43] mp3monster commented on #194
I followed instructions on https://github.com/oracle/oci-designer-toolkit/blob/master/documentation/Installation.md pointing to:

 docker build --tag okit --force-rm https://github.com/oracle/oci-designer-toolkit.git

docker run -d --rm -p 80:80 --volume <USER HOME DIR>/okit/user/templates:/okit/templates --volume <USER HOME DIR>/.oci:/root/.oci --name okit okit

As you'll see on my blog I did a b

[2020-12-09 13:45] toxophilist commented on #194
@mp3monster Hmm LF/CR issues is that in the config file within the .oci directory or the Dockerfile.

Windows was one of the reasons we provided the Vagrant build option.

[2020-12-09 14:03] toxophilist commented on #196
@mp3monster The first can be solved by having multiple sections in the config file that is mounted through during the run command. I have a config section for each of the tenancies I need to access and can choose the appropriate one during Query / Export to RM.

[2020-12-09 17:57] toxophilist commented on #165
Will be in the 0.16.0 release

[2020-12-09 17:57] #165 closed

[2020-12-10 16:11] mrich14287 opened #202 "Unable to place networking and other resources in Compartment that does not have VCN"
Our OCI design calls for putting all project specific resources in a compartment for that project while globally shared resources are stored in a general compartment.

Some project resources such as subnet, file systems, and load balancers cannot currently be placed in a compartment that does not have a VCN in it.  Our VCNs are globally shared resources so they are not in the same compartment with

[2020-12-19 16:01] mantechexperts opened #203 "'NotAuthenticated', 'message': 'The required information to complete authentication was not provided or was incorrect.', 'status': 401"
I tried to build as per the instructions and everytime when i go for query i am getting the error

========
oci.exceptions.ServiceError: {'opc-request-id': 'C81E4F83E7C74A74BED9B09D0160769E/984643E7E585D68F934783B3D2996B50/B6F90E9CB91F1F86CE3766875B6C55D1', 'code': 'NotAuthenticated', 'message': 'The required information to complete authentication was not provided or was incorrect.', 'status': 401

[2020-12-19 16:10] mantechexperts commented on #203
=======
It was my mistake, i thought that my key was updated in OCI console. but somehow got deleted
i can able to login now
==============

[2020-12-19 16:10] #203 closed

[2020-12-19 16:11] mantechexperts commented on #203
selft troubleshooting

[2020-12-30 10:05] mantechexperts opened #204 "Unable to save as template"
I tried queirying the my existing environment and i am success and got the details of resource. When i try to save as template , i am unable to select ( When i try to choose/select option ) it is allowing to me to select

Kindly advice

[2021-01-11 21:58] simonpane opened #206 "Queries fail to retrieve Object Storage Bucket names"
Queried **Object Storage Bucket** names are not retrieved and instead are displayed as `okit-osb001` etc.  These OKIT generated bucket names are shown in all three places: the Palate Explorer, the main Canvas, and the Properties window.  Other OS bucket details such as the creation date and creation user are accurate.

Example:

![image](https://user-images.githubusercontent.com/17480670/104242145

[2021-01-19 14:00] toxophilist commented on #206
Name copied to display_name during the query in v0.16.0

[2021-01-19 14:00] #206 closed

[2021-01-19 14:02] toxophilist commented on #204
@mantechexperts  Can you open the Developer tools in your browser and check the console log to see it there any errors

[2021-01-29 09:08] #163 closed

[2021-02-01 04:14] Habibur1251 opened #216 "Unable to retrieve information from OCI"
I followed the installation instruction properly.

This is my config file looks like
[DEFAULT]
user=ocid1.user.oc1..aaaaaaaabvugqwgefzqormwvmwtmr45aqe7qaor5ydtvi2ybrznhr6o5d5jq
fingerprint=89:fb:0b:4f:f8:be:9b:92:6e:f9:4b:4c:00:13:1d:79
key_file=~/.oci/okit.pem
tenancy=ocid1.tenancy.oc1..aaaaaaaaabn4cm52zxcraq5sr3mlug2phbb3ffpudn5walcgyx2zm4ebflra
region=us-ashburn-1

I have uploaded public key as

[2021-02-05 06:54] henremurr opened #220 "US Government Regions"
When I try to export to Resource Manager, I don't see any US Govt Regions. I've tried making mods to my local copy of okitweb/static/okit/json/dropdown.json (as seen below) but still haven't figured out how to make it work. As a US Govt customer, I would really like to have this capability in OKIT.

    {
      "display_name": "US Ashburn",
      "id": "us-ashburn-1",
      "key": "IAD",
      "na

[2021-02-06 18:58] toxophilist commented on #220
@henremurr I do plan on extending this so Gov regions are displayed / accessible

[2021-02-06 19:27] henremurr commented on #220
Hi Andrew,

That’s awesome news!

I’ve successfully demonstrated OKIT capabilities in OCI commercial and was bummed when it didn’t work in OCI Government.

I’m currently leading an OCI Gov capabilities study and this new OKIT extension would really help me close the deal.

You all have created a fantastic product. I’m excited to start testing.

Regards 👍

[2021-02-07 13:16] toxophilist commented on #216
@Habibur1251 if you check the logs what messages do you see

[2021-02-07 13:19] #148 closed

[2021-02-07 13:20] toxophilist commented on #148
If this is still occuting please reopen with example json

[2021-02-12 09:07] toxophilist commented on #216
@Habibur1251 can you use the oci cli with these credentials to access your tenancy

[2021-02-12 09:14] toxophilist commented on #220
@henremurr Is your Gov tenancy the Default in the config file. If not can you try setting it as the default and rebuild your okit container. The reason for this is that OKIT is shipped with a basic set of information for the drop downs you see within the tool but on page load it will attempt to update this information by querying the default connection. This may bring back yours gov region.

I do

[2021-02-12 22:54] henremurr commented on #220
I’ve put the config file in /okit and rebuilt — not picking up us-langley-1 defaults. I’m probably doing something wrong?? i’ll keep trying and provide you with an update tonight or tomorrow

Merci beaucoup 👨‍🎨

[2021-02-15 06:18] henremurr commented on #220
I haven’t been able to override Default when exporting to Resource Manager. I can add a Custom and it shows up under drop down. I coded the Gov’t OCiD but popup is not seeing and Gov region. I  updated Okit to 0.17.0 but that didn’t change anything — let me know if you want me to try something else.

[2021-02-15 06:56] henremurr commented on #220
So reaming default to custom broke oci command line. Put reverted custom to default and oci is working again. It looks like in 0.17 when I use us-langly-1 OKIT can't find a match and returns AP Chuncheon which happen to be the first in the region drop down list. In the prior version 0.16, it defaulted to US-ASHBURN? Not sure this helps.

[2021-02-15 16:14] henremurr commented on #220
Update -- changed key file to use ~/.okit vs absolute path and rebuilt -- OKIT now connects to OCI. It loads my compartments, but the region is still not being found. It can't translate us-langley-1 to "US Gov East (Ashburn)" or us-luke-1 to "US Gov West (Phoenix)". I will try making the changes to okitweb/static/okit/json/dropdown.json (0.17.0) and rebuilding -- getting closer.

[2021-02-15 16:26] henremurr commented on #220
vi /okit/oci-designer-toolkit/okitweb/static/okit/json/dropdown.json
added to bottom:
      "name": "us-sanjose-1"
    },
    {
      "display_name": "US Gov East",
      "id": "us-langley-1",
      "key": "LFI",
      "name": "us-langley-1"
    },
    {
      "display_name": "US Gov West",
      "id": "us-luke-1",
      "key": "LUI",
      "name": "us-luke-1"
    }
  ],

Rebuilt and it's there (a

[2021-02-15 16:28] henremurr commented on #220
My rebuild commands for those having trouble:
cd /okit/oci-designer-toolkit/containers/docker ;  docker-compose stop ; docker-compose rm ;  docker rmi okit
docker-compose up --detach ; docker-compose top

[2021-02-15 16:38] henremurr commented on #220
Update -- Resource Manager link works nicely; albeit I haven't actually done a deployment yet. In the popup, the region defaults on load to "US Gov East" and Compartment refresh (refreshes) and shows root (/) and all the other compartments I have created. No red OCI connection icon top right. That was fixed by using a relative path vs absolute path (see comments).

Clicking on the console cloud ic

[2021-02-15 17:14] #220 closed

[2021-02-15 17:22] henremurr commented on #220
I found four additional files with oraclecloud hard-coded (didn't change them at this time).

/okit/oci-designer-toolkit/okitweb/templates/reference_architecture/sql_server.json
/okit/oci-designer-toolkit/visualiser/model/bom.py
/okit/oci-designer-toolkit/visualiser/model/calculator.py
/okit/oci-designer-toolkit/visualiser/model/okit_price_v2.py

Summary of my changes to make Resource Manager, Con

[2021-02-16 17:46] henremurr opened #226 "OKIT-GitHub Connection"
I need to connect OKIT to GitHub. I followed the instructions in the Install Guide and finally figured out how to make it work. However, it won't save files? I can load files from the repo but I have to save them as okit (n).json where n is some number, then check out the file, open the downloaded file, paste in the contents, save and push.

Have I got something wrong?

Also a Save As would be a n

[2021-02-16 21:35] henremurr commented on #216
After creating ssh keys and creating the config file; I had to do the following:

    cp ~/.oci/* /okit/oci-designer-toolkit/containers/oci
    rm /okit/oci-designer-toolkit/containers/oci/example_config
    cp ~/.ssh/* /okit/oci-designer-toolkit/containers/ssh
    rm /okit/oci-designer-toolkit/containers/ssh/example_config

    The above is mentioned in the Install Guide but I missed it three tim

[2021-02-28 15:06] toxophilist commented on #226
@henremurr with the git integration the save should just do a git add/push. I'll take a look see if I can reproduce the  issue

[2021-02-28 16:59] henremurr commented on #226
thanks

[2021-03-01 21:38] simonpane commented on #206
I'm not sure this has been resolved.  Trying on version 0.17.0 and the object storage buckets are no longer displayed at all.

Tested against multiple compartments in multiple regions - no longer see object storage buckets in either the Palette or the Explorer.

[2021-03-02 17:26] javierbm7 opened #246 "okit not show dbssytm in diagram"
![image](https://user-images.githubusercontent.com/40583067/109688588-6f504b80-7b52-11eb-8693-645793df7501.png)

[2021-03-02 17:31] toxophilist commented on #246
@javierbm7 can you open the Developer Tools for you browser and see if there are any errors in the console

[2021-03-02 17:33] toxophilist commented on #216
@Habibur1251 Are you still seeing the issue

[2021-03-02 17:37] toxophilist commented on #204
@mantechexperts are you still seeing this issue

[2021-03-02 18:13] javierbm7 commented on #246
Hi, the network resources are in different compartment

![image](https://user-images.githubusercontent.com/40583067/109694597-fd2f3500-7b58-11eb-8aee-7e3a21843a46.png)

[2021-03-02 18:22] toxophilist commented on #246
Can you do a hard refresh of the browser to clear the cache seems odd you are seeing the first error.

[2021-03-02 21:09] javierbm7 commented on #246
I clear the cache and reopen it, but it doesn't show dbsystem, now no errors appear

![image](https://user-images.githubusercontent.com/40583067/109715333-7fc3ee80-7b71-11eb-8363-83b334cccfe9.png)

[2021-03-03 09:44] jngithub1 opened #250 "Cutting/pasting a subnet with a DB system creates multiple copies not attached to a subnet so not shown"
I use cutting and pasting to change the vertical order of subnets to my liking. For a DB System it had the undesired side-effect of creating multiple copies not attached to a subnet, so they not drawn in the designer. Only validation tells you multiple names and only in tabular view you can see/edit them. You can't re-attach them to a subnet, so there seems no way to fix or delete them.

[2021-03-03 09:47] jngithub1 commented on #250
![OKIT-duplicateDBsystems1](https://user-images.githubusercontent.com/29753707/109786712-bbac9180-7c0d-11eb-988b-a014e364ae52.png)
Here's what I see, only one is actually shown in the Designer

[2021-03-03 09:48] jngithub1 commented on #250
Feature request: It would be great if we could at least delete from the Tabular view as well! Will submit this as a request separately

[2021-03-03 09:49] jngithub1 commented on #122
Yes indeed, this would be a great improvement

[2021-03-03 09:50] jngithub1 opened #251 "Feature request: Delete items from the Tabular view"
Feature request: It would be great if we could at least delete from the Tabular view, as some don't show up in the Designer

[2021-03-03 09:58] jngithub1 commented on #250
Another way to fix this were if one would be able to edit DB System properties and assign the subnet yourself.

[2021-03-04 09:12] toxophilist commented on #246
@javierbm7 Can you try with the new 0.18.0 release. You will need to rebuild you container

[2021-03-04 12:08] toxophilist commented on #251
Will be in 0.19.0 release

[2021-03-04 12:08] #251 closed

[2021-03-10 09:24] jngithub1 opened #265 "Enhancement request: show block volume attachments to instances in the tabular view"
It would be very useful to be able to see the instance to block volume relation in the tabular view, either at the instances tab or perhaps better the block volumes tab.

[2021-03-10 09:27] jngithub1 opened #266 "Enhancement request: export tabular view to Excel"
Being able to export the tabular view to Excel either directly or indirectly would be very handy for us when handing our designs over to the actual implementers/customer. Also for getting the customer to fill out the details, they often ask for such a sheet.

[2021-03-11 14:30] vittoriocioe opened #268 "Enhancement request: Add Heatwave and Replication Channels to the MySQL DB Systems"
It would be extremely useful to have in the MySQL DB System Block option to add replication channel and Heatwave cluster.
Terraform already provides functions, described here:
https://registry.terraform.io/providers/hashicorp/oci/latest/docs/resources/mysql_channel
https://registry.terraform.io/providers/hashicorp/oci/latest/docs/resources/mysql_analytics_cluster

Thanks a lot.

P.S. If help is ne

[2021-03-15 20:27] LotToLearn opened #269 "Internal Server Error"
Hi,

I can get OKIT up and running, no issues.
Keys are in OCI, and it can authenticate that by listing the compartments when I go to query

But, the query always fails. The logs aren't too helpful to be honest, this is the only thing that really says anything...

DEBUG : okitWebDesigner[0450] : JSON :
{'title': 'Query Failed',
'description': 'Internal Server Error',

Vague, I know -- any ideas?

[2021-03-16 11:33] toxophilist commented on #269
@LotToLearn if you execute `docker logs okit` from the command line you should be able to see the server error alternatively you could try opening the docker desktop console.

I suspect this is because it failed to authenticate does the entry in your config for the key_file point to `~/.oci/<KEY FILE>`

[2021-03-16 13:39] jngithub1 opened #270 "Cost estimation shows "Updated" and "OKIT version" as first 2 lines"
![OKIT bug cost estimate-1](https://user-images.githubusercontent.com/29753707/111318456-5f159180-8665-11eb-962d-024b78be7724.png)

[2021-03-16 13:39] jngithub1 commented on #270
Minor cosmetic issue but still a bug....

[2021-03-16 14:28] LotToLearn commented on #269
Hey, thanks for such a fast reply. Appreciated a ton.

I have the write keys, and I made sure to ~ instead of directly specifying the whole path.. These keys work for my oci cli in my other instances, permissions dont matter correct? I usually do 777 as a bad habit, but had them at 600.. I ended up just destroying and going to recreate today.

[2021-03-16 16:32] jngithub1 opened #271 "Validation issue: should not be able to choose Logical Volume Management when provisioning a RAC db in DBCS"
It will throw you off-base with a very weird "Error: Service error:InvalidParameter. Request is rejected because port 22 is not enabled in the ingress security list for subnet" when doing the apply. Took me a while to figure it out.
Should only allow ASM to be chosen when provisioning a RAC db in DBCS

[2021-03-16 16:40] jngithub1 opened #272 "Description of SecList rules in OKIT is not transferred to the actual deployment in the Resource Mgr"
SecList rule descriptions are alway empty, using OKIT v0.18.0

[2021-03-19 17:04] toxophilist commented on #269
@LotToLearn If you have created within an OCI instance you should just assign the VM to your Instance Principal group.

Also the docker logs usually give additional information on what caused the Internal Server Error can you check again.

[2021-03-19 17:32] toxophilist commented on #270
Fixed in 0.19.0 release

[2021-03-19 17:32] #270 closed

[2021-03-19 17:42] toxophilist commented on #272
Fixed in 0.19.0 release

[2021-03-19 17:42] #272 closed

[2021-03-22 13:05] toxophilist commented on #265
Added to 0.19.0 release

[2021-03-22 13:05] #265 closed

[2021-03-22 14:04] toxophilist commented on #271
Extreme Performance  / LVM test added to 0.19.0

[2021-03-22 14:04] #271 closed

[2021-03-25 13:29] #226 closed

[2021-03-26 18:39] LotToLearn commented on #269
not sure what the issue was, but on a fresh docker it is working without changing anything. Good ol turn it on and off? But now it queries almost everything but my database in a private subnet, why might that be? Out of scope of this topic, so can make a new one. Looking at the logs it requests everything and includes database, but no failures or errors in logs.

[2021-03-31 20:17] henremurr opened #288 "0_19.2"
Just installed and testing latest update.

- I have three Compartments under root -- when I / and include sub they stack on top of each other. I can look at them individually with their corresponding sub compartments just fine.

![okit_0 19 2](https://user-images.githubusercontent.com/77940622/113205073-19db8d00-922b-11eb-8af8-dd713541b99e.jpg)
![okit_0 19 2_2](https://user-images.githubuserconten

[2021-03-31 20:27] henremurr opened #289 "okit 0.19.1"
The following doesn't do anything? Is it suppose to?

Successfully installed Jinja2-2.11.3 MarkupSafe-1.1.1 Werkzeug-1.0.1 authlib-0.15.3 certifi-2020.12.5 cffi-1.14.5 chardet-4.0.0 click-7.1.2 configparser-4.0.2 cryptography-3.2.1 et-xmlfile-1.0.1 flask-1.1.2 git-url-parse-1.2.2 gitdb-4.0.7 gitpython-3.1.14 gunicorn-20.0.4 idna-2.10 itsdangerous-1.1.0 numpy-1.19.5 oci-2.35.0 openpyxl-3.0.7 pandas

[2021-03-31 20:42] henremurr commented on #288
In Preferences, when I uncheck Fast Discovery, it works fine. Seems to be an issue with that option. I can live with it.

[2021-03-31 20:42] #288 closed

[2021-03-31 20:42] henremurr commented on #288
Bug still there, but I found a work around -- hope it gets fixed in next update.

[2021-04-07 10:44] toxophilist commented on #269
@LotToLearn can you try turning off (deselect) fast discover in the preferences and see if the DB is displayed on query

[2021-04-07 14:57] LotToLearn commented on #269
@toxophilist I turned it off, and it didn't work and actually stopped showing my buckets and autonomous DB

[2021-04-07 15:02] LotToLearn commented on #269
@toxophilist
Fast discovery on (notice ADB / buckets)
![fast_discovery](https://user-images.githubusercontent.com/56550251/113888797-455cfb00-9788-11eb-8037-cf024e731fab.png)

fast discovery off (ADB / buckets gone)
![nofast_discovery](https://user-images.githubusercontent.com/56550251/113888884-586fcb00-9788-11eb-8d02-3e385ae9f7af.png)

[2021-04-07 19:10] philstepson opened #293 "Document Ehancement Request"
I’m attempting to Load from Git unsuccessfully and have the following configuration on Okit 19.02 running on my Mac OS system:

config in ~/.ssh     follows:

***Host    github.com
        User philstepson
        Hostname github.com
        PreferredAuthentications publickey
        IdentityFile  ~/.ssh/pwsarchvm1.key***

Github allows me to authenticate to GitHub with my proper username:

***(ba

[2021-04-08 16:22] vittoriocioe opened #294 "Load Balancer component does not allow to configure protocol and port"
The load balancer component does not allow to configure the protocol and port for both the listener and the healthcheck.

As a matter of fact (maybe a consequence) the generated terraform code (not sure about ansible for instance) uses the same variable to describe the protocol for the health check and for the listener.

[2021-04-11 10:25] toxophilist commented on #269
Hmm odd I'll spend some more time trying to reproduce this

[2021-04-12 09:01] vittoriocioe commented on #216
Hello, I am encountering this very same issue. I am deploying okit using the Quick start from installation guide.
I tried the procedure listed above but no success. Still querying OCI is failing.
Any suggestions?

[2021-04-12 11:21] toxophilist commented on #294
@vittoriocioe This is on the roadmap we initially release the resources with the required properties but are busy updating them.

[2021-04-12 11:22] toxophilist commented on #293
@philstepson Will definitely take a look at improving the documentation

[2021-04-12 12:06] vittoriocioe commented on #294
Thanks a lot :)

[2021-04-13 09:50] toxophilist commented on #246
@javierbm7 Are you still seeing this issue

[2021-04-20 22:21] ignacioruiz opened #304 "documentation/Installation.md contains reference to dev branches"
for instance:
...
# Clone OKIT
sudo bash -c "git clone **-b toxophilist/auth** --depth 1 https://github.com/oracle/oci-designer-toolkit.git /okit"
...

shouldn't public steps refer to GA versions?
Best

[2021-04-21 19:28] agregory999 opened #305 "DB System and OKE within a compartment"
Is it possible to create a compartment structure first, such as:
- root
- - network
- - DB
- - app

Then create a VCN in the network compartment and a DB System in the DB compartment, using the subnet that resides in the network compartment.  Seems it is requiring a VCN to be put inside of.

[2021-04-22 03:23] javierbm7 commented on #246
Hi @toxophilist, now DBSystems is not showing also in explorer toolbar, developer tool is not showing errors. these DBSystems associated a private subnet in another compartment( In the same level). I did generation of the root compartment include subcompartments but continues not showing

![image](https://user-images.githubusercontent.com/40583067/115649845-af7bb100-a2ed-11eb-9767-cf798eb2ecd9.png

[2021-04-22 03:25] javierbm7 commented on #305
#246 I think is part of this issue

[2021-04-22 11:32] toxophilist commented on #305
@agregory999 Current version is a bit prescribed but I'm working on making it more flexible. I'll try and get this in for the next release.

[2021-04-22 11:46] toxophilist commented on #269
v0.21.0 release resolves the bucket subscription issue.

[2021-04-22 11:46] #269 closed

[2021-04-22 11:53] toxophilist commented on #304
Update for v0.21.0

[2021-04-22 11:53] #304 closed

[2021-04-23 18:04] agregory999 opened #308 "Terraform export should use multiple files"
Would it be possible to have the export into .tf files use more of a modular approach?  All of what is exported currently goes into a single main.tf, but could be separated by function or as Terraform/ORM best practices advise.

[2021-04-27 13:30] sgmphil opened #311 "Cost Estimator Issue"
I have noticed that the cost estimator always estimates the prices for PAYG and Annual Flex to be the same. These prices should differ. Thank you for looking into this.

-Phil

[2021-04-27 13:38] sgmphil opened #312 "Some Instance Shapes are Missing"
I have noticed that some instance shapes are missing. One example is VM.Standard.E2.1.Micro. I have a couple of these shapes running and when running a query, the query defaults the instances to BM.DenseIO2.52. If I were to push that config back to OCI, that would potentially cause some real headaches!

[2021-04-29 16:30] toxophilist commented on #312
Odd these are queried from OCI when the page is opened and update the drop down options shipped with each release

[2021-04-29 16:32] toxophilist commented on #308
I can take a look

[2021-05-04 14:36] agregory999 opened #315 "Bug: Query for sub-compartments adds "/" to name"
The names of each compartment imported have a leading "/" in their name.  If you try to push to resource manager with compartments named as such, the stack fails to plan or apply.

[2021-05-04 14:40] agregory999 opened #316 "Bug: OKIT attempts to add defined_tags to oci_core_network_security_group_security_rule"
Terraform only allows `defined_tags` at the `oci_core_vcn` and at the `oci_core_network_security_group` level, but not at the `oci_core_network_security_group_security_rule` level.  When OKIT queried an existing tenancy that had NSGs with rules, it somehow added the defined_tags to the terraform, then it fails with errors for each NSG Rule:

[code]

[2021-05-05 14:07] sgmphil commented on #311
I just updated to 0.21.0 - good job on some of the fixes. The cost estimator is still having problems, it now hangs on some containers. Here is the what I found in the log:

INFO: Generate Pricing Estimate for OKIT Json
[2021-05-05 14:01:42 +0000] [46] [ERROR] Error handling request /okit/pricing/estimate
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/gunicorn/wo

[2021-05-10 11:59] toxophilist commented on #315
This is from when we displayed canonical name rather than simple name/ The next release will have the / removed

[2021-05-10 11:59] #315 closed

[2021-05-25 10:20] toxophilist commented on #194
The work around for this issue can be found https://stackoverflow.com/questions/10418975/how-to-change-line-ending-settings where it will show how to configure git to resolve this.

[2021-05-25 10:20] #194 closed

[2021-06-01 15:01] xperiazn opened #347 "export to terraform local zip or ansible local zip is not working"
Hi,
Export to terraform local zip, ansible local zip or resource manager is not working.
Validation is successful no errors or warnings. When i click on export to terraform local file nothing happens. same with ansible local zip. Export to resource manager fails with error: "Export to Resource Manager Failed (INTERNAL SERVER ERROR)"
Can i debug somehow problem?
Kind regards

[2021-06-02 08:04] toxophilist commented on #347
@xperiazn if you look at the Docker logs it should show you the error. If you paste it in a comment I'd appreciate it.

[2021-06-02 14:25] xperiazn commented on #347
Only error in in docker log is this:

Same error is for ansible local zip and terraform local zip

INFO: Processing OKE Cluster Information Covidcluster
ERROR: 'image'
Traceback (most recent call last):
  File "/okit/okitweb/okitWebDesigner.py", line 333, in generate
    generator.generate()
  File "/okit/visualiser/generators/okitGenerator.py", line 197, in generate
    self.renderOkeCluster(oke)

[2021-06-04 16:40] jeliker opened #349 "Cannot create multiple Compartments at root (v0.22.1)"
Regularly, will define environment with two root-level Compartments (i.e. App1, App2) but cannot seem to do that with current release.

Tried first creating nested, saving, editing json and setting "compartment=null" for second, the reloading. Almost works but display is mangled trying to render both side-by-side (or stacked or whatever)

[2021-06-07 09:59] toxophilist commented on #316
Fixed in 0.23.0 release

[2021-06-07 09:59] #316 closed

[2021-06-14 12:25] markmundy opened #362 "Database System Password needs to be validated"
The current OKIT version can fail to create a database system because the sys password chosen does not conform to the standard required. There needs to be validation on the given password to ensure it complies with policy.

Without validation it is possible to have a DB system fail to build in OCI.

Currently 'Password must be 9 to 30 characters and contain at least 2 uppercase, 2 lowercase, 2 spe

[2021-06-15 11:38] toxophilist commented on #349
@jeliker if you create you designer with 2 sub compartments and then deploy to the root does this not work.

[2021-06-17 14:29] felipe-e-ribeiro opened #369 "Private IP route keep Network Entry empty"
Hello, I'm trying to create a network that needs a rule Private IP on my route.
But the issue is that okit is keeping the Network Entry blank.
I try to download and change manually the okit file, putting the network_entity_id the ocid of my privateip.
But doing this kept me to push the change to resource manager, showing me the message "Export to Resource Manager Failed (Internal Server Error)"

[2021-06-21 11:53] toxophilist commented on #369
Hi the private IP feature is missing at the moment and should not appear in the drop down. I'll work on resolving it.

[2021-06-21 22:24] codersteinersky opened #379 "Does OKIT support GovCloud Regions"
It doesn't seem OKIT supports US IL5 or other GovCloud regions at least for a query.  Is that actually supported in some way and I'm missing it?  If it isn't currently supported can that be easily added?  Thanks, JD

[2021-06-28 14:24] toxophilist commented on #379
@codersteinersky There is nothing with OKIT to stop this but they are no displayed by default. The region list is built just prior to release by querying OCI. I do not have access to Gov regions hence only the public regions are added to the dropdown.json file. Now when you refresh/access the page OKIT will try to update its dropdown.json by querying the 'DEFAULT' connection. If you DEFAULT points

[2021-06-28 19:52] codersteinersky commented on #379
Thank you so much.  That simple workaround will be great in the mean time.

[2021-06-30 16:19] toxophilist commented on #379
@codersteinersky I've pushed a change to the nightly branch which switches Regions / Dropdown data based on the selected Config Profile. Could you possibly clone this branch and let me know if switching to your Gov config profile displays the Gov Regions. Sorry I can't test because I don't have access to the Gov regions.

[2021-07-07 15:56] toxophilist commented on #379
@codersteinersky if you select your connection profile within v0.24.0 on the toolbar you should see the region list updated.

[2021-07-07 15:56] #379 closed

[2021-07-07 15:57] toxophilist commented on #312
@sgmphil This should be resolved in v0.24.0 if you select your connection profile associated with the free tier. The dropdown cache is updated on a per profile basis.

[2021-07-07 15:57] #312 closed

[2021-07-08 10:03] rizwanarshad1980 opened #406 "Sub-Menu options can't be selected in Chrome"
Hi,

In Chrome, navigating to the hamburger menu > Export > Terraform the "Local Zip" and "Git" options appear detached from the menu and cannot be easily accessed.

In Safari the sub-menu is initially detached from the main menu and then connects to the main menu allowing the options to be easily selected.

I'm using V0.24.0 (7th July 2021)

Thanks

![chrome](https://user-images.githubusercontent

[2021-07-08 11:57] markmundy opened #407 "Enh: Move 'Refresh Dropdown Data' behind the scenes"
The new 'Refresh Dropdown Data' menu item should not be so prominent.
From what I understand, it is more of an administration function rather than a feature and therefore doesnt need to be as prominent on the menu.

Ideally this would be a button on the preferences screen where I think it would make more sense to place it.

[2021-07-09 10:28] rafee opened #409 "Docker build fails, ERROR: No matching distribution found for pandas==1.1.2"
I am running the new MacBook Air with M1 processor. With high likelihood this is a problem related to docker arch. But I assumed you still might want to know about it.

[code]

[2021-07-13 10:26] toxophilist commented on #409
@rafee I would have thought this was more likely networking / access to pip site. The Docker build should simply use the latest OL7 for it's OS. I've tried a rebuild on my mac but can't repo this issue.

[2021-07-13 10:29] toxophilist commented on #406
@rizwanarshad1980 this is usually associated with a scroll issue and can often be resolved by maximising your browsers / closing any download information / zooming the view.

I will be working on a resolution to this issue although I have never managed to reproduce it.

[2021-07-13 10:55] rizwanarshad1980 commented on #406
@toxophilist - thanks - maximising the browser does resolve the problem

[2021-07-14 13:38] LorenzKeller opened #422 "Unable to use the okit query option"
Dear,
I am unable to query the existing artefacts from OCI using the query option as described here:
https://www.ateam-oracle.com/the-oci-designer-toolkit-query-feature
--
created a symbolic link to the .oci/config file:
$ pwd
/Users/a86282/dev/okit/oci-designer-toolkit/containers/oci
$ ls -ll
lrwxr-xr-x  1 a86282  535115368  25 Jul 14 15:08 config -> /Users/a86282/.oci/config
lrwxr-xr-x  1 a86282

[2021-07-14 16:20] rafee commented on #409
@toxophilist , I thought so initially too. However, two things changed my mind. This works flawlessly in MacBook with x86 architecture, as well as Linux machines. While Docker does allow x86 images to be installed in M1 machines, it also says support is rudimentary. All in all, I am not entirely sure, whether this is a bug report for OKIT or Docker. But, I would say, from OKIT perspective, one sol

[2021-07-14 16:21] rafee commented on #409
Also, is your Mac M1 version? I was able to replicate this on M1 machines only.

[2021-07-19 15:51] LorenzKeller commented on #422
found the issue. Two lines copying the config and the api key have been ignored.
Running container with
--
docker run -d --rm -p 8040:80 \
	--name okit \
	--hostname okit \
	--volume ~/dev/okit/user/templates:/okit/templates \
	--volume ~/.oci:/root/.oci \
	--volume ~/.ssh:/root/.ssh \
	okit
--
works.
closing issue

[2021-07-19 15:51] #422 closed

[2021-07-19 15:55] LorenzKeller opened #432 "all compute shapes are displayed with shape "BM.DenseIO2.52" with update okit 0.24.5"
Dear,
after upgrade to okit 0.24.5 all compute shapes when querying are displayed with shape "BM.DenseIO2.52" although other shapes are in use.
Kind regards
Lorenz

[2021-07-20 10:45] wuyingki opened #433 "OKIT fails to build (docker build) in OCI Compute (Linux) . Please help to fix the Dockerfile"
Compute VM (Oracle Linux 7.8) in OCI:

Step0) Sudo su -

Step1) Git Clone master branch to /home/opc/, with below command:
git clone -b master --depth 1 https://github.com/oracle/oci-designer-toolkit.git

Step2) cd /home/opc/oci-designer-toolkit

Step3) docker build --tag okit --file /home/opc/oci-designer-toolkit/containers/docker/Dockerfile  --force-rm /home/opc/oci-designer-toolkit/containers/d

[2021-07-26 18:19] LotToLearn commented on #293
@toxophilist Any update on this? Seems Phil & I are having the same issues

[2021-07-26 19:52] LotToLearn opened #434 "Validation Error -> Boot Volume Size must between 50GB and 32,768GB"
Hi,

On Validation this error is given because default value when computes provisioned is 47GB.

Is there anyway to switch them from read only and edit? This is an infrastructure query...

Since the default is 47GB though, I think it would be wise to maybe just have it auto update to 50GB minimum? Because this seems like it could be a big deal when querying tenancies, as the default is the 46.6GB

[2021-08-09 09:12] toxophilist commented on #433
@wuyingki When building an OCI image there is a specific section within the installation instructions for this that does not use docker. This is because we can hook into the uname/pwd for OCI and docker on OL is rather old and as you see has issues.

[2021-08-09 09:12] #433 closed

[2021-08-09 09:14] toxophilist commented on #409
@rafee I'm actually looking at dropping pandas so this should also resolve the issue.

[2021-08-09 14:35] rafee commented on #409
Yes, that's another way to solve this. But while you are at it, you may need to take a look whether there's some other dependency that's causing problem with M1. I would be open to run compatibility for you, if you need access to an M1 machine

[2021-08-12 12:15] toxophilist commented on #293
@philstepson @LotToLearn The examples I have in the README are taken directly from my system with the git_repositories file containing
[code]

And my ssh config file

[code]

If this is not working within the container can you check if the key is in the container ~/.ssh directory.

[2021-08-13 18:37] LotToLearn opened #440 "Cannot generate terraform when NSG have Rules"
Hi,

I have 3 NSG.. Validation was FINE on okit console, had to look in LOGS to find the issue -- strange because validation succeeded when I hit the option.

I had to end up removing all the security rules for my NSG. I tried one at a time, keeping rules and then deleting. Eventually all 3 had everything deleted, and it worked.

First one failed, deleted all rules eventually, then it passed, repe

[2021-08-16 14:30] toxophilist commented on #440
@LotToLearn I can not reproduce this but it looks like your json is missing the description element for the rules which is rather odd. Can you check the original json in the json view to see if description is there.

[2021-08-16 15:42] toxophilist commented on #432
@LorenzKeller Sorry I can not reproduce this. Can you try refreshing the cache from the menu. This will force a re-download of the dropdown data for the selected connection profile.

[2021-08-18 11:17] toxophilist commented on #406
@rizwanarshad1980 I added some adjustment to the 0.25.0 release to remove scrollbar width from placement so hopefully this should resolve the issue.

[2021-08-18 11:17] #406 closed

[2021-08-28 16:21] KirankBadiger opened #447 "Unable to create Object Storage Bucket with OKIT"
I am trying to create bucket in Object Storage using OKIT with Resource Access Manager

when click on "apply", it's throwing an below error:

[code]

[2021-09-07 14:09] toxophilist commented on #447
Fixed in 0.26.0 release

[2021-09-07 14:09] #447 closed

[2021-09-07 15:59] KirankBadiger opened #452 "Unable to add route rules if the targets(All Gateways) are in different compartment using OKIT"
1. Unable to add the route rules if the targets(All Gateways) are in different compartment using OKIT

2. Tried to view the existing infrastructure that are deployed in nested compartments even though unable view the route rules

For your reference attached the image below, used OKIT "query" feature to view the existing infrastructure deployed in nested compartments, still unable to view the exist

[2021-09-08 08:27] davidkhala opened #453 "Github branch hygience"
![image](https://user-images.githubusercontent.com/7227589/132473959-bedbd167-681c-4eca-ad10-0310b942fc01.png)

Now we have quite a few merged, closed or stale branches.

Can maitainers help to delete them if not to use anymore?

[2021-09-08 14:11] toxophilist commented on #453
@davidkhala There is a strategy for some of the branch for instance the ones labeled v0*.* will remain until the subsequent release has been merged. For the stale branches I agree we do need the owners to clean then.

[2021-09-08 14:28] toxophilist commented on #452
@KirankBadiger was the compartment containing the gateway in the query results. Just tried this and can't reproduce if the compartment with the gateway is in the results. If it's not in the result then I get the same empty display but that's not surprising.

[2021-09-08 15:12] KirankBadiger commented on #452
@toxophilist gateways are deployed in different compartment, subnets are in different compartments, checked in OCI console, there I can add route rules if the gateways are in different compartment, but with OKIT it is not possible, OKIT should show the existing route rules right?, but it is doesn't

[2021-09-09 08:38] davidkhala opened #456 "Docker artifact/release availability in container registry"
According to README, I see the only way to run OKIT is to build docker by our own from source.

Is it possible we publish a ready to use docker image to a docker registry somewhere? anyone of
- GHCR(Github Container Registry), like https://github.com/oracle/container-images/pkgs/container/oraclelinux
- Dockerhub
- Oracle Container Registry

[2021-09-09 12:01] toxophilist commented on #456
@davidkhala It's on the roadmap

[2021-09-09 12:02] toxophilist commented on #452
@KirankBadiger OKIT knows about what is in the design so if all compartments are in the design then is should show the rules correctly. If the compartment is missing from the design then it will not be present for OKIT to display.

[2021-09-09 12:37] KirankBadiger commented on #452
@toxophilist  All Compartments are present in OKIT, but route rules are not getting displayed

[2021-09-10 07:54] davidkhala opened #458 "ERROR: 'key_file'"
We found a weird bug that even the config file is properly loaded as volume, OKIT cannot read the 'key_file' property

[code]

[2021-09-10 08:09] davidkhala commented on #458
A hints here, we are using podman as docker alias.

[2021-09-13 03:14] davidkhala commented on #458
self-resolved. Tips for people seeing similar issue: recent podman release enhance on permission security so we need to add flag `--privileged` to command `docker run ...`, such as

[code]

[2021-09-13 03:17] #458 closed

[2021-09-13 03:26] davidkhala opened #459 "[UI] "DHCP option" icon missing"
It fails to render the icon from `src=/static/okit/palette/svg/DHCPOptions.svg`
![Screenshot from 2021-09-13 11-22-26](https://user-images.githubusercontent.com/7227589/133019444-6e8b29fe-33e3-40b7-85c5-66f01e648bec.png)

[2021-09-24 07:43] kayodeOluwafmi opened #461 "Connection to OCI not working on OKIT v26"
Just installed OKIT v26. config has my tenancy details .

Am attempting to use the **Export to Resource Manager** capability in OKIT, to push a simple design to my tenancy
1) OKIT is picking up my tenancy details from the config file
2) but OKIT is not showing any values for the **Region** drop down
3) and OKIT is not showing any values for the **Compartment** drop down.

Is there something am mis

[2021-09-24 21:03] toxophilist commented on #456
Given the changes to Docker desktop charging I will be dropping docker as a deployment solution and switching to a desktop version.

[2021-09-24 21:04] #456 closed

[2021-09-25 06:31] davidkhala commented on #456
please consider those users like me not using docker desktop but docker for Linux including Ubuntu and even podman as alternative on Oracle Linux.

they always get benefit from docker image on registry

[2021-09-28 14:27] toxophilist commented on #459
@davidkhala Hi this one has already been fixed in the next release but thanks for the pull request.

[2021-09-28 14:28] toxophilist commented on #461
@kayodeOluwafmi this sounds like the config file entry is not correct the usual issues with this is the key file location not pointing to ~/.oci/<key_file_name>

[2021-09-28 15:07] kayodeOluwafmi commented on #461
Below is my config entry and hosting docker startup command.

**##Config entry for key file**
..............
_region=uk-london-1_
_key_file=/home/opc/oci-designer-toolkit/containers/oci/oci_api_key.pem_
..............

**##Docker startup command**
_export OKIT_ROOT_DIR=/home/opc/oci-designer-toolkit_
_export OCI_CONFIG_DIR=$OKIT_ROOT_DIR/containers/oci_

_sudo docker run -d --rm -p 80:80 --name ok

[2021-09-28 15:54] toxophilist commented on #461
@kayodeOluwafmi the key_file entry needs to point to the location within the docker container which will be ~/.oci/oci_api_key.pem

[2021-09-28 15:57] toxophilist commented on #452
@KirankBadiger just spotted your route table is read only which will stop you adding / modifying data

[2021-09-28 16:25] KirankBadiger commented on #452
@toxophilist Yes I know it is existing read-only route table, used "Query" feature, but it should show the existing route rules right?

[2021-09-29 08:41] toxophilist commented on #453
Cleaned stale branches

[2021-09-29 08:41] #453 closed

[2021-09-29 08:49] toxophilist commented on #452
@KirankBadiger If the Network end point is in the design it should be displayed. Can you check the json view and validate the ocid in the rule looks fine. Just trying to work out where the issue is.

[2021-10-19 19:00] DanielBatesJ opened #483 "Allowing for DRG with Multiple Attachments"
Our team is currently using Version 0.26.0 of Okit for a customer engagement and the DRG does not seem to support [multiple attachments](https://docs.oracle.com/en-us/iaas/Content/Network/Tasks/managingDRGs.htm). From checking the changelog this doesn't seem to have changed for the latest version.

From what I can tell, this is a new feature on OCI as of May of 2021 so any information you can shar

[2021-10-29 17:38] kollachaitanyakrishna opened #490 "unable to connect to the OCI tenancy"
V0.28
logged in to the oci with "oci setup config", but still unable to login

cd: /projects/okit/okit: No such file or directory
[2021-10-29 17:25:31 +0000] [155] [INFO] Starting gunicorn 20.1.0
[2021-10-29 17:25:31 +0000] [155] [INFO] Listening at: http://0.0.0.0:7070 (155)
[2021-10-29 17:25:31 +0000] [155] [INFO] Using worker: sync
[2021-10-29 17:25:31 +0000] [158] [INFO] Booting worker with pi

[2021-10-30 01:41] jimmycal commented on #409
Any update on this issue, I'm seeing the same issue on my M1 Mac

[2021-11-08 13:20] mfokkergit opened #491 "[SSL: TLSV1_ALERT_ACCESS_DENIED] when using OCI Toolkit in Amsterdam region - does work in Frankfurt"
I have two tenants (one with home region Frankfurt and one with home region Amsterdam).
After some troublshooting I concluded the the Amsterdam region is not working in the toolkit (not sure if this is a toolkit / Oracle or other issue :))

It keeps retrieving info. The console shows
File "/usr/local/lib/python3.6/site-packages/oci/base_client.py", line 536, in request
raise exceptions.RequestExce

[2021-11-11 16:03] toxophilist commented on #491
This is not an OKIT issue but is likely to be associated with the policy / privileges associated with the account.

[2021-11-11 16:03] #491 closed

[2021-11-15 15:05] toxophilist commented on #490
@kollachaitanyakrishna this due to a miss configuration in your config file. The usual issue is the location of the key file which will always be in /root/.oci/<FILE_NAME> and should be specified as ~/.oci/<FILE_NAME> in the config

[2021-11-15 16:21] #490 closed

[2021-11-17 10:11] toxophilist commented on #483
@DanielBatesJ This is now available with the 0.29.0 release.

[2021-11-17 10:11] #483 closed

[2021-11-21 04:42] kktam opened #498 "create public docker image on dockerhub"
Can the Oracle OCI team create a public and regularly maintained  docker image of this project (OKIT) on dockerhub, as well as in the OCI Container Registry (OCIR).

[2021-11-29 16:27] toxophilist commented on #347
@xperiazn do you still have this issue.

[2021-12-08 03:09] jaalsuca opened #502 "Version: 0.30.0 (1st December 2021) - Issues with adding an Instance compute to VCN"
Hi there

I am not sure if this would be considered a bug. But, the deployed OKIT version doesn´t allow me to add a Computer instance into the VCN. Also, the information from my OCI Infrastructure is not retrieving as well.

Would you please put instructions on how to get OCI Infrastructure or multiple regions infrastructure ?

I followed each step by step instruction.

[2021-12-10 06:32] mahmoudrabie opened #507 "(Save to Github) is now working [BUG] !"
- **Version:** 0.30.1 (9th December 2021)

- **Performed Steps** as per detailed installation guide:
1. create the git_repositories file
2. private/public key files exist within your <USER HOME DIR>/.ssh
3. defines the key/url mapping in <USER HOME DIR>/.ssh/config
4. write config file as the following

[code]

**- Steps to reproduce**
1. Open OKIT designer
2. Save to Git
3. See entry of github an

[2021-12-10 13:49] toxophilist commented on #507
@mahmoudrabie Following the save to git do you see it in the git tab on the left of the screen.

Also do you see any errors in the okit log file / docker console log.

Finally can you open a terminal connection to the docker container and confirm you can connect to github and clone your repo

[2021-12-10 13:53] toxophilist commented on #502
@jaalsuca Instances can only be dropped on a subnet or compartment. Existing infrastructure is retrieved using the query menu item

[2021-12-10 19:25] philstepson commented on #507
Andrew,

Following your advice and checking the log I did see an error in the log.
Next, I attempted to connect to GitHub from the container command line
and receive the following:

    bash-4.2# *ssh github*
    The authenticity of host 'github.com (140.82.112.4)' can't be
    established.
    ECDSA key fingerprint is
    SHA256:p2QAMXNIC1TJYWeIOttrVc98/R1BUFWu3/LiyKgUfQM.
    ECDSA key fingerpri

[2021-12-11 03:02] mahmoudrabie commented on #507
Thanks a lot @toxophilist for your prompt response

I have checked the container log and found the following error
[code]

I would appreciate your advice

[2021-12-13 12:28] toxophilist commented on #507
@mahmoudrabie try adding the following to your ssh config

Host *
     StrictHostKeyChecking no
     UserKnownHostsFile=/dev/null

[2021-12-18 20:31] jaalsuca commented on #502
Hi @toxophilist

Could you please be a bit specific? I know and it is quite logical to retrieve current infrastructure from the query menu.

Now, I can see a new version but the documentation does not specify how to update it.

Regards;

Jairo Suarez

[2021-12-18 21:15] jaalsuca commented on #502
How to be specific when someone requires help.
If you already have OKIT installed and you want to update it. Please follow these steps.

I am using Oracle Linux as OS

PATH=$PATH:$HOME/.local/bin:$HOME/bin
OKIT_DIR=/okit
export OKIT_DIR
export PATH
[opc@okit-server02 ~]$ sudo systemctl stop gunicorn.service
[opc@okit-server02 ~]$ cd /okit/
[opc@okit-server02 okit]$ ls

[opc@okit-server02 okit]$ gi

[2021-12-18 21:30] jaalsuca commented on #502
After successful update of OKIT, I am still confused in regards of add into the deployment compartment by default, a new VCN, into the new VCN should include a Compute Instance or Analytics instance but I am now allowed to do it., why?

![image](https://user-images.githubusercontent.com/40186554/146655881-3858840b-51dc-4313-9f8c-0ed17d4f0828.png)

[2021-12-18 22:07] jaalsuca commented on #502
After successful update of OKIT. I am still fighting to retrieve information from my OCI Infrastructure.
![image](https://user-images.githubusercontent.com/40186554/146656590-7ca6f4a1-4b98-4ba7-bb8c-5f972ce8c2b2.png)

If you please can offer specific information where I must modify the config file, I much really appreciate it.

3 things basic steps I have done.
First, follow the documentation here

[2021-12-20 12:04] toxophilist commented on #502
@jaalsuca This is usually an issue with the config file key file entry

Can you log into the container

docker exec -it okit bash
cat ~/.oci/config
It should show 'key_file=~/.oci/oci_api_key.pem' and the file has to be in the '/root/.oci' directory.

The entry should be something similar to that above with the file in ~/.oci

[2021-12-21 05:41] mahmoudrabie commented on #507
Thanks a lot, @toxophilist for your support

I have added the lines above and here is my config file

then I have restarted the okit container and found the following error before going to call (save to GitHub) function

Any help or recommendations are more than welcome

[2021-12-21 11:54] toxophilist commented on #507
@mahmoudrabie Did you do this  in the container if so a restart will erase it. You can edit your external file and rebuild

[2021-12-31 20:30] mahmoudrabie commented on #507
Thanks a lot @toxophilist for your support

I have completed the following steps again:
(1) Review and update the.ssh/known_hosts
(2) Update the .ssh/config (UserKnownHostsFile ~/.ssh/known_hosts)
(3) Generate a new SSH key
(4) Update .ssh/config with the new key
(5) Add the key using ssh-add
(6) Add the new SSH key to your GitHub account
(7) Test the successful connection to Github using the foll

[2021-12-31 20:30] #507 closed

[2022-01-28 16:26] henremurr opened #511 "0.31.1 not pulling tenancy data"
After upgrading to latest version, when I push design to Resource Manager the job fails. It seems that the terraform.zip file being pushed out does not contain any configuration data for the tenancy. When I roll back to 0.29.0, all works and the config data is present. All other Designer Toolkit functionality (in use) appears to be working correctly. If it makes any difference, I am querying/deplo

[2022-02-16 09:39] DoubleUP66 opened #513 "resizing canvas and up down scrollbar"
When using it with Firefox or Safari, the up- down scrollbar for the design canvas is missing.
It is possible to zoom in or out, but when having zoomed out to see the bottom of the design and I add a component it jumps back to its original zoom size and the bottom part is not visible anymore.
I just downloaded the 0.32 version. Using one of the above browsers on MacOS.

[2022-03-01 18:11] jeliker commented on #461
There are other operations/applications/tools that require `key_file` be an absolute path (perhaps VirtualBox but I can't recall?) so I've set all my `key_file` entries to absolute. I suppose the solution is to add a duplicate entry in `~/.oci/config`

[code]

[2022-03-01 18:24] jeliker commented on #461
Had some inspiration and found this as an alternative to above second profile:  Start docker with extra volume statement mapping `/home/me/.oci` to `/home/me/.oci`

[code]

[2022-03-04 17:38] toxophilist commented on #513
You can also drag the canvas up to see the bottom. I'll take a look at keeping the pan and zoom when dropping resources

[2022-03-04 17:38] toxophilist commented on #511
Does this still happen with the latest release

[2022-03-04 19:44] henremurr commented on #511
Will check later today and let you know — regards

Merci beaucoup 👨‍🎨

[2022-03-22 17:27] jeliker opened #517 "v0.33.0 (2nd March 2022) Canvas never initializes (trying Safari 15.4, Firefox 98)"
Javascript console shows error "Subnet is not defined"

Failure appears to be compartment.js line 80

return [Compartment.getArtifactReference(), VirtualCloudNetwork.getArtifactReference(), Subnet.getArtifactReference(), ExadataInfrastructure.getArtifactReference()];

Error does not show from MS Edge 99

[2022-04-01 11:46] gajarabhi opened #520 "Unable to export to Terraform"
Hi, I queried the resources from root compartment and then tried to export to Terraform. Its not giving any result. However its exporting sample terraform when no query resources. Please rectify.

[2022-04-11 15:28] toxophilist commented on #513
Resize resolved in 0.34

[2022-04-11 15:28] #513 closed

[2022-04-11 15:30] toxophilist commented on #520
@gajarabhi can you attach the output log from the server so I can identify which resource has the error.

[2022-04-11 15:40] toxophilist commented on #517
@jeliker This should be resolved in the 0.34. release can you please try and let me know if this is still an issue.

[2022-04-11 15:41] toxophilist commented on #511
@henremurr Can I close this issue or do you still see the problem

[2022-04-17 08:55] mangmangdream opened #522 "cost estimate for mysql database system not calculated"
Payg and  Annual Flex  value for mysql database system always shows $0

[2022-04-25 14:50] toxophilist commented on #461
Closed due to no response if this issue still exist with latest version please reopen

[2022-04-25 14:50] #461 closed

[2022-04-25 14:52] toxophilist commented on #511
Closed assuming that this has been resolved if not please reopen

[2022-04-25 14:52] #511 closed

[2022-04-25 14:52] toxophilist commented on #517
@jeliker Do you still see this issue with the latest release.

[2022-04-26 09:24] #432 closed

[2022-04-26 09:25] #349 closed

[2022-04-26 09:28] toxophilist commented on #498
Duplicate of #195

[2022-04-26 09:29] toxophilist commented on #311
Should be resolved in 0.34.0

[2022-04-26 09:29] #311 closed

[2022-04-26 12:56] jeliker commented on #517
Looks good! Just tested again in Safari and all is well.

Thank you.

[2022-04-26 12:56] #517 closed

[2022-04-26 13:01] jeliker opened #523 "Labels are cut off (consider font size, left justified, wrapping)"
Display Names are cut off on all resources making it more difficult to use for documentation purposes. Please consider offering font size/face option, left justification (since left of text is more useful than the middle for knowing what it says), or wrapping (hard at a character boundary vs. word breaks).

![image](https://user-images.githubusercontent.com/590333/165305215-2a78aa8f-c180-4fc3-a60d

[2022-05-16 14:16] toxophilist commented on #347
Closed due to no response to previous message. If this is still an issue please reopen.

[2022-05-16 14:16] #347 closed

[2022-05-24 13:33] toxophilist commented on #308
Release v0.37.0 has this functionality with the TF resources split based on how the console splits the Resources

[2022-05-24 13:33] #308 closed

[2022-06-06 09:44] PiastSiwek opened #530 "uk-london-1 region is hardcoded"
Hi there,
It looks like region is not read from profile, but it is uk-london-1 region is hardcoded (in okit.js). My region is eu-frankfurt-1, but okit is trying to connect to London region

[2022-06-14 09:47] #530 closed

[2022-06-14 09:49] PiastSiwek commented on #530
After detailed investigation, I found how to correctly configure OKIT in docker. Documentation is little confusing

[2022-06-25 03:42] nuinattapon opened #531 "OKIT query to PCA X9 3.0.1 - Endpoint overriden is needed"
Hi team,

I am trying to use OKIT with PCA X9. Unfortunately, the query function doesn't work because the ENDPOINT we have in PCA is diffrent to OCI. Do we have any documents showing all the parameter to set if we wanna use different end point.

I have built the DOCKER image using OKIT version 0.37.0. I run it using OCI parameters which works with oci cli. But it seems that the end point can not b

[2022-06-29 11:29] toxophilist commented on #531
@nuinattapon the cert needs to be specified in the config file by using the entry:

cert-bundle=~/.oci/certs/ca.crt

[2022-06-29 14:59] nuinattapon commented on #531
@toxophilist ,
The issue is still there. OKIT is still trying go through port 443 not 30003.
Actually, I have already specify it using   -e OCI_CLI_CERT_BUNDLE="~/.oci/sca15-1070-scasg-bast.us.oracle.com.ca-chain.cert.pem"

[2022-06-29 16:39] toxophilist commented on #531
@nuinattapon Is your cert up-to-date for that machine.

Also can you remove your detailed connection information from this ticket. This would be better dealt with on the internal Slack channel.

OKIT does not do anything specific with the environment overrides because the underlying oci api, used by OKIT, deals with them.

[2022-06-30 04:07] nuinattapon commented on #531
@toxophilist Done per your request.
For this case, how could we configure OKIT to explore resources on PCA if we could not override the end points.

[2022-06-30 08:30] #531 closed

[2022-08-03 08:14] raffaelloferrari opened #537 "Problem with object with subnet in different compartment"
When we create a new object like database system or OKE we aren't able to insert it in a different compartment than where its subnet is.
![okit_error](https://user-images.githubusercontent.com/47225245/182558064-2d627453-1290-41a9-8f3f-cbaf0de92537.png)

In the drawing above the expected behavior is that it is possible to insert the db system within the application compartment even if no VCN and S

[2022-08-03 08:25] capaaway commented on #305
Some news about this feature? I've the same need.
thanks!

[2022-09-07 08:32] toxophilist commented on #537
@raffaelloferrari The 0.40.0 release will allow db systems in other compartments I'm working through the rest of the resources to allow this as well

[2022-09-07 08:32] #537 closed

[2022-09-07 11:13] toxophilist commented on #522
@mangmangdream 0.40.0 has the new cost estimator based on the [OCI Cost Estimator](https://www.oracle.com/uk/cloud/costestimator.html) and will now calculate the MySQL

[2022-09-07 11:13] #522 closed

[2022-09-07 11:14] #407 closed

[2022-09-07 11:15] toxophilist commented on #266
The tabular view now allows export of what is diaplayed.

[2022-09-07 11:15] #266 closed

[2022-09-08 14:13] raffaelloferrari commented on #537
@toxophilist Thank you I really appreciate

[2022-09-27 18:47] martinberger-ch opened #540 "Check does not verify DNS-Label"
You can add DNS labels for VCN and Subnets with Hyphens when you add it and leave the box on the right side - the check doesn't recognize it. But provisioning in OCI Resource Manager fails because it's not according the guidelines.

Please add this check.

[2022-10-03 10:20] #540 closed

[2022-10-10 14:58] tassamartz opened #543 "Query OCI not extracting mysql database cloud service"
When trying to query an OCI compartment with Database cloud service, the instance does not seem to be extracted in the canevas

[2022-10-10 15:07] tassamartz opened #544 "Move between Designer and BOM mode"
Sometimes once moved to BOM mode, clicking on designer mode does not work, it remains open on BOM, only solution is to refresh the spa.

[2022-10-10 15:10] tassamartz opened #545 "Import Resource Manager"
Importing an existing stack within my tenancy to OKIT does not work (seems to be a js problem).

[2022-10-19 09:36] toxophilist commented on #545
@tassamartz Can you be more specific about the issue you are seeing

[2022-10-19 10:53] Noam-T opened #547 "Problem running on WSL Ubuntu on Windows"
Hi,

I have installed on WSL Ubuntu of=n Windows.
When I try to run I get the following:
[2022-10-19 13:48:50 +0300] [1878] [INFO] Starting gunicorn 20.1.0
[2022-10-19 13:48:50 +0300] [1878] [ERROR] Retrying in 1 second.
[2022-10-19 13:48:51 +0300] [1878] [ERROR] Retrying in 1 second.
[2022-10-19 13:48:52 +0300] [1878] [ERROR] Retrying in 1 second.
[2022-10-19 13:48:53 +0300] [1878] [ERROR] Retryi

[2022-10-25 14:42] tassamartz commented on #545
@toxophilist from the main menu selecting import terraform State - Resource Manager, i select the stack i want and click on import but nothing is imported.

[2022-10-25 17:17] Noam-T commented on #547
Hi, I do not have anything running on port 80. Maybe the problem is the IP '0.0.0.0' ?

[2022-10-28 18:25] tassamartz opened #549 "Load Balancer Compartment"
As of the 0.42 version, it is not possible to add a Load Balancer directly in a compartment. It is only done within a VCN: which means it is necessary in the VCN compartment.

[2022-11-01 14:06] toxophilist commented on #549
Will be available in 0.43.0

[2022-11-01 14:06] #549 closed

[2022-11-05 06:19] rheadrickTSC opened #550 "OKIT and CIS OCI Landing zones"
Are you working with the Landing zone team so that OKIT can reverse and forward engineer their zones?  This would be a fantastic merge of both projects.

https://github.com/oracle-quickstart/oci-cis-landingzone-quickstart

[2022-11-08 11:30] toxophilist commented on #544
@tassamartz I can't actually reproduce this. Following any update of OKIT a Hard refresh when in the designer often help forcing all the javascript to be refreshed. If this happens again can you please check the development tools console for any errors.

[2022-11-08 11:31] toxophilist commented on #523
Increase display width when labels are shown.

[2022-11-08 11:31] #523 closed

[2022-11-10 06:55] tassamartz opened #552 "Oracle Database version"
when selecting the Oracle Database element (Oracle Database Cloud VM), the versions displayed in the version choice list are:
11.2.0.4
12.1.0.2
12.2.0.1
18.0.0.0
19.0.0.0
21.0.0.0

I believe those are mapped to the latest of 11g, 12cR1, 12cR2, 18c, 19c, and 21c ? but misleading since for the 19c for example the latest is 19.17.0.0, for 21c, the latest is 21.8.0.0

[2022-11-10 07:13] tassamartz commented on #544
@toxophilist i have checked with the latest version, i am not facing the issue with firefox anymore. it might be related to a refresh as you described. i am closing the issue.

[2022-11-10 07:13] #544 closed

[2022-11-10 08:00] tassamartz opened #553 "Network Security Group - compute instance "Show Connections" not making the link visible"
Case 1 OK : Create a network security group, attach it to a load balancer and check the box "show connection", the link between the nsg and LB is visible

Case 2 NOK: create a network security group, attach it to a compute, and check the box show connections, no link is visible between the compute instance and the network security group

[2022-11-11 13:41] tassamartz opened #554 "Create a network with the CIDR block defined as a variable is not allowed in UI"
When defining a new VCN, if instead of defining a CIDR block value, i try to put a variable, it does show "please match he requested format"..could be an enhancement

[2022-11-11 13:44] tassamartz opened #555 "Define instance with Oracle and partner images"
when defining a compute instance, the only option available are Platform and Custom images. It would be great to add support for Oracle images (Weblogic, EBS..) and Partner images as it is the case with OCI web console.

[2022-11-16 06:26] tassamartz opened #556 "Variables are not reflected in stack export"
when adding variables, i am able to see those variables in the terraform export variables.tf.
However, they are not reported in the variables.tf  script when exported to  Resources Manager.

[2022-11-18 11:17] tassamartz opened #557 "Creating mysql cloud service with HA creates Standalone mysql database"
When creating a mysql database and configure HA (check the box), exporting the stack and executing it, the created mysql database is standalone and not HA. It is visible in the terraform script as the flag is_highly_available is absent.

[2022-11-18 11:18] tassamartz opened #558 "OKE - Can not create an OKE outside of VCN in OKIT canvas"
It is not possible to create an OKE cluster outside of a VCN scope area.

[2022-11-18 11:20] tassamartz opened #559 "OKE : for Flex compute shapes, no possibility to specify the OCPU and RAM"
In the properties, when selecting a flex compute shape, it is not possible to indicate the OCPU and RAM.
When creating the OKE with the generated stack (export), the node pool is not created.

[2022-11-22 11:11] tassamartz opened #560 "Database Cloud Service params missing"
it is not possible to indicate the following
- characher set
- timezone
- storage is choice list in DBCS, and block storage performance level
- AMD Compute shape

[2022-11-22 14:36] tassamartz opened #561 "OKE and Mysql always created in okit deployment compartment"
Create OKE and Mysql and deploy to OCI, both are stored in the root compartment and not in the one specified in the designer.

[2022-11-22 14:40] tassamartz opened #562 "Compute instance properties always shows 3 AD"
in Okit select Jeddah region, select a compute VM, in properties we always see 3 ADs.  Not sure if this is a bug or on purpose.

[2022-11-22 14:45] tassamartz opened #563 "Compute instance Agent properties"
Only two agent are available in OKIT for VM compute instance. There are other agent missing (bastion, vulnerability..)

[2022-11-23 17:14] hiranp opened #564 "Run OCI-Designer-Toolkit on Oracle Cloud"
It would be great if the toolkit was a marketplace image or even better you had a sample terraform playbook to deploy OCI-Toolkit on Oracle cloud. That way you can even use the free tier to develop and deploy designs.

[2022-11-24 13:47] toxophilist commented on #561
Fixed 0.44.0 Release

[2022-11-24 13:47] #561 closed

[2022-11-24 13:47] toxophilist commented on #557
Fixed in 0.44.0 Release

[2022-11-24 13:47] #557 closed

[2022-11-24 13:50] toxophilist commented on #556
Fixed in 0.44.0 Release

[2022-11-24 13:50] #556 closed

[2022-11-24 13:54] toxophilist commented on #552
These values are read from the OCI tenancy and cached in the browser. The caches can be refreshed from the main menu.

[2022-11-24 13:54] #552 closed

[2022-11-24 13:56] toxophilist commented on #562
This is by design.

Because a design can be created without knowing the ultimate deployment region OKIT allows specification of AD 1-3 at build time if the deployment region is single AD it will convert them to AD 1

[2022-11-24 13:56] #562 closed

[2022-11-24 13:58] toxophilist commented on #502
Closed due to no recent update

[2022-11-24 13:58] #502 closed

[2022-11-24 14:00] toxophilist commented on #305
Only the OKE is outstanding and this will be resolved as part of some rework planned on OKE

[2022-11-25 14:24] antoniogomezr opened #565 "Windows 10 / WSL (Ubuntu) execution error"
AttributeError: module 'oci.apigateway' has no attribute 'UsagePlansClient'
[2022-11-25 15:07:20 +0100] [6435] [ERROR] Exception in worker process

[2022-11-25 14:26] antoniogomezr commented on #565
File "/home/antgomez/okit/.venv/lib/python3.8/site-packages/gunicorn/arbiter.py", line 589, in spawn_worker
    worker.init_process()
  File "/home/antgomez/okit/.venv/lib/python3.8/site-packages/gunicorn/workers/base.py", line 134, in init_process
    self.load_wsgi()
  File "/home/antgomez/okit/.venv/lib/python3.8/site-packages/gunicorn/workers/base.py", line 146, in load_wsgi
    self.wsgi = se

[2022-11-30 14:48] borkur opened #567 "Data Science Services artefacts inclusion"
It would be great to get the Data Science Services artefcats  included in the toolkit

- Projects
- Notebook sessions
- Models & Model Deployments
- Vaults, keys, and secrets.